@model Legalizaciones.Web.Models.ViewModel.LegalizacionesViewModel;

@{
    ViewData["Title"] = "Legalizaciones";
}

<div class="row">
    <div class="col-sm-12">
        <div class="box">
            <div class="box-body">
                @if (Model.ConAnticipo == 1)
                {
                    <small>
                        <a href='@Url.Action("Index","Home")'> Inicio </a>
                        >
                        <a href='@Url.Action("Index","Legalizaciones")'> Legalizaciones </a>
                        >
                        <strong>Registro legalización anticipo @Model.AnticipoId</strong>
                    </small>

                }
                else
                {
                    <small>
                        <a href='@Url.Action("Index","Home")'> Inicio </a>
                        >
                        <a href='@Url.Action("Index","Legalizaciones")'> Registro Legalizacion sin anticipo </a>
                        >
                        <strong>Nueva</strong>
                    </small>

                }
            </div>
        </div>
    </div>
</div>


<form asp-controller="Legalizaciones" asp-action="Guardar" method="post">
    <section class="">
        <div class="hidden">
            @Html.TextBoxFor(model => model.ConAnticipo, new { @class = "form-control" })
        </div>


        @if (Model.ConAnticipo == 1)
        {
            @*informacion de la solicitud anticipo*@
        <div class="box box-default">
            <div class="box-header with-border">
                <h3 class="box-title"><i class="fa fa-id-card"></i>Información del Anticipo</h3>
            </div>
            @Html.HiddenFor(model => model.AnticipoId, null)
            <div class="box-body">
                <table class="tableSolicitud">
                    <thead>
                        <tr>
                            <th class="col-md-1">
                                @Html.DisplayNameFor(modelItem => modelItem.AnticipoId)
                            </th>
                            <th class="col-md-2">
                                @Html.DisplayNameFor(modelItem => modelItem.DocumentoERPID)
                            </th>
                            <th class="col-md-2">
                                @Html.DisplayNameFor(modelItem => modelItem.FechaRegistro)
                            </th>
                            <th class="col-md-3">
                                @Html.DisplayNameFor(modelItem => modelItem.Concepto)
                            </th>
                            <th class="col-md-2">
                                @Html.DisplayNameFor(modelItem => modelItem.FechaVencimiento)
                            </th>
                            <th class="col-md-2">
                                @Html.DisplayNameFor(modelItem => modelItem.Monto)
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => modelItem.AnticipoId)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => modelItem.DocumentoERPID)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => modelItem.FechaRegistro)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => modelItem.Concepto)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => modelItem.FechaVencimiento)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => modelItem.Monto)
                            </td>

                        </tr>
                    </tbody>
                </table>


            </div>
        </div>
        }

        @*informacion del empleado*@
        <div class="box box-default">
            <div class="box-header with-border">
                <h3 class="box-title"><i class="fa fa-info-circle"></i>Información del empleado</h3>
                <div class="box-tools pull-right">
                    <label>Fecha de Registro: @String.Format("{0:dd-MM-yyy}", DateTime.Now)</label>
                </div>
            </div>
            <div class="box-body">
                <table class="tableSolicitud">
                    <thead>
                        <tr>
                            <th>Área</th>
                            <th>Nombre completo</th>
                            <th>Cédula</th>
                            <th>Dirección</th>
                            <th>Ciudad</th>
                            <th>Teléfono</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>@Html.HiddenFor(model => model.Empleado.Area, null) @Model.Empleado.Area</td>
                            <td>@Html.HiddenFor(model => model.Empleado.Nombre, null) @Model.Empleado.Nombre</td>
                            <td>@Html.HiddenFor(model => model.Empleado.Cedula, null) @Model.Empleado.Cedula</td>
                            <td>@Html.HiddenFor(model => model.Empleado.Direccion, null) @Model.Empleado.Direccion</td>
                            <td>@Html.HiddenFor(model => model.Empleado.Ciudad, null) @Model.Empleado.Ciudad</td>
                            <td>@Html.HiddenFor(model => model.Empleado.Telefono, null) @Model.Empleado.Telefono</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        @*Esta es la parte de legalizaciones*@
        <div class="box box-default">
            <div class="box-header with-border">
                <h3 class="box-title"><i class="fa fa-archive"></i>Formulario de Legalización</h3>
            </div>

            @*formulario de legalizacion header*@
            <div class="box-body">

                <div class="row margin-bottom">
                    <div class="col-md-3">
                        <label class="control-label">Recibo Caja</label>
                        @Html.TextBoxFor(model => model.ReciboCaja, new { @class = "form-control", @required = "required" })
                        @Html.ValidationMessageFor(model => model.ReciboCaja, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-3">
                        <label class="control-label">Consignación</label>
                        @Html.TextBoxFor(model => model.Consignacion, new { @class = "form-control", @required = "required" })
                        @Html.ValidationMessageFor(model => model.Consignacion, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-3">
                        <label class="control-label">Valor</label>
                        @Html.TextBoxFor(model => model.Valor, new { @class = "form-control maskMoney", @required = "required" })
                        @Html.ValidationMessageFor(model => model.Valor, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-3">
                        <label class="control-label">Banco</label>
                        @Html.DropDownListFor(model => model.BancoId, Model.ListaBanco, new { @class = "form-control" })
                        @if (ViewBag.IsValid != null && ViewBag.IsValid == "false")
                        {
                            @Html.ValidationMessageFor(model => model.BancoId, "Seleccione un Banco.", new { @class = "text-danger" })
                        }
                    </div>
                </div>

                <div class="row margin-bottom">
                    <div class="col-md-3">
                        <label class="control-label">Centro de Costo</label>
                        @Html.TextBoxFor(model => model.CentroCostoDescripcion, new { @class = "form-control", @Readonly = "Readonly" })
                    </div>
                    <div class="col-md-3">
                        <label class="control-label">Fecha Desde</label>
                        @Html.TextBoxFor(model => model.FechaDesde, new { @class = "form-control datepicker fechaDesde", @placeholder = "Selecciona Fecha Desde", id = "FechaDesde" })
                        @Html.ValidationMessageFor(model => model.FechaDesde, "", new { @class = "text-danger" })
                    </div>

                    <div class="col-md-3">
                        <label class="control-label">Fecha Hasta</label>
                        @Html.TextBoxFor(model => model.FechaHasta, new { @class = "form-control datepicker fechaHasta", @placeholder = "Selecciona Fecha Hasta", id = "FechaHasta" })
                        @Html.ValidationMessageFor(model => model.FechaHasta, "", new { @class = "text-danger" })
                    </div>

                    <div class="col-md-3">
                        @if (Model.ConAnticipo == 0)//Sin Anticipo
                        {
                            <label class="control-label">Moneda</label>
                            @Html.DropDownListFor(model => model.MonedaId, Model.ListaMoneda, new { @class = "form-control" })
                            @if (ViewBag.IsValid != null && ViewBag.IsValid == "false")
                            {
                                @Html.ValidationMessageFor(model => model.MonedaId, "Seleccione un tipo de Moneda.", new { @class = "text-danger" })
                            }
                        }
                        else //Con Anticipo
                        {
                            @if (ViewBag.MostrarTasa = true)
                            {
                                <div class="col-md-6">
                                    <label class="control-label">Moneda</label>
                                    @Html.TextBoxFor(model => model.Moneda, new { @class = "form-control", @Readonly = "Readonly" })
                                </div>
                                <div class="col-md-6">
                                    <label class="control-label">Tasa</label>
                                    @Html.TextBoxFor(model => model.ValorTasa, new { @class = "form-control", @Readonly = "Readonly" })
                                </div>
                            }
                            else
                            {
                                <label class="control-label">Moneda</label>
                                @Html.TextBoxFor(model => model.MonedaId, new { @class = "form-control", @Readonly = "Readonly" })
                            }
                        }

                    </div>
                </div>

                <div class="row margin-bottom">
                    <div class="box-tools pull-right" style="margin-right: 20px;">
                        <a id="btnA" class="btn btn-primary" onclick="AnadirGastos(this);" style="float:right;">
                            <span class="glyphicon glyphicon-plus"></span> Añadir Gasto
                        </a>
                    </div>
                </div>

                


            </div>

            @*formulario de legalizacion de gastos*@
            <div class="hide" id="RegistroDatos">
                <div class="box-header with-border">
                    <h3 class="box-title"><i class="fa fa-money"></i>Registro de Gastos</h3>
                </div>
                @*<span class="field-required display-none">*</span>*@
                <div class="box-body">
                    <div class="row margin-bottom">
                        <div class="col-md-4">
                            <label class="control-label">Tipo Servicio</label>
                            @Html.DropDownListFor(model => model.TiposervicioId, new SelectList(string.Empty, "Value", "Text"), "Seleccione...", new { @class = "form-control" })
                            @if (ViewBag.IsValid != null && ViewBag.IsValid == "false")
                            {
                                @Html.ValidationMessageFor(model => model.TiposervicioId, "Seleccione un tipo de servicio.", new { @class = "text-danger" })
                            }
                        </div>
                        <div class="col-md-4">
                            @Html.LabelFor(model => model.ProveedorId, htmlAttributes: new { @class = "control-label col-md-12" })
                            @Html.DropDownListFor(model => model.ProveedorId, new SelectList(string.Empty, "Value", "Text"), "Seleccione...", new { @class = "form-control" })
                            @if (ViewBag.IsValid != null && ViewBag.IsValid == "false")
                            {
                                @Html.ValidationMessageFor(model => model.ProveedorId, "Seleccione un Proveedor.", new { @class = "text-danger" })
                            }
                        </div>

                        <div class="col-md-4">
                            <label class="control-label">Concepto Gasto</label>
                            @Html.EditorFor(model => model.ConceptoGasto, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.ConceptoGasto, "", new { @class = "text-danger" })
                        </div>


                    </div>

                    <div class="row margin-bottom">
                        <div class="col-md-4" id="divFechaGasto">
                            <label class="control-label">Fecha Gasto</label>
                            @Html.TextBoxFor(model => model.FechaGasto, new { @class = "form-control datepicker FechaGasto", @placeholder = "Selecciona Fecha Gasto", id = "FechaGasto", @autocomplete = "off" })
                            @Html.ValidationMessageFor(model => model.FechaGasto, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-4">
                            <label class="control-label">Centro Operación</label>
                            @Html.DropDownListFor(model => model.CentroOperacion, Model.ListaCentroOperacion, "Seleccione...", new { @class = "form-control" })
                            @if (ViewBag.IsValid != null && ViewBag.IsValid == "false")
                            {
                                @Html.ValidationMessageFor(model => model.CentroOperacion, "Seleccione un centro de operacion.", new { @class = "text-danger" })
                            }
                        </div>
                        <div class="col-md-4">
                            <label class="control-label">Unidad Negocio</label>
                            @Html.DropDownListFor(model => model.UnidadNegocio, Model.ListaUnidadNegocio, "Seleccione...", new { @class = "form-control" })
                            @if (ViewBag.IsValid != null && ViewBag.IsValid == "false")
                            {
                                @Html.ValidationMessageFor(model => model.UnidadNegocio, "Seleccione una unidad de negocio.", new { @class = "text-danger" })
                            }
                        </div>
                    </div>

                    <div class="row margin-bottom">
                        <div class="col-md-4">
                            <label class="control-label">Centro Costo</label>
                            @Html.DropDownListFor(model => model.CentroCosto, Model.ListaCentroCosto, "Seleccione...", new { @class = "form-control" })
                            @if (ViewBag.IsValid != null && ViewBag.IsValid == "false")
                            {
                                @Html.ValidationMessageFor(model => model.CentroCosto, "Seleccione un Centro de costo.", new { @class = "text-danger" })
                            }
                        </div>
                        <div class="col-md-4">
                            <label class="control-label">País</label>
                            @Html.DropDownListFor(model => model.PaisId, new SelectList(string.Empty, "Value", "Text"), "Seleccione...", new { @class = "form-control" })
                            @if (ViewBag.IsValid != null && ViewBag.IsValid == "false")
                            {
                                @Html.ValidationMessageFor(model => model.PaisId, "Seleccione un Pais.", new { @class = "text-danger" })
                            }
                        </div>
                        <div class="col-md-4">
                            <label class="control-label">Ciudad</label>
                            @Html.DropDownListFor(model => model.CiudadId, new SelectList(string.Empty, "Value", "Text"), "Seleccione...", new { @class = "form-control" })
                            @if (ViewBag.IsValid != null && ViewBag.IsValid == "false")
                            {
                                @Html.ValidationMessageFor(model => model.CiudadId, "Seleccione una Ciudad.", new { @class = "text-danger" })
                            }
                        </div>
                    </div>

                    <div class="row margin-bottom">
                        <div id="divOrigenDestino">
                            <div class="col-md-4">
                                <label class="control-label">Origen</label>
                                @Html.EditorFor(model => model.Origen, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Origen, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-4">
                                <label class="control-label">Destino</label>
                                @Html.EditorFor(model => model.Destino, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Destino, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label class="control-label">Monto Gasto</label>
                            @Html.EditorFor(model => model.MontoGasto, new { htmlAttributes = new { @class = "form-control maskMoney" } })
                            @Html.ValidationMessageFor(model => model.MontoGasto, "", new { @class = "text-danger" })
                            <span class="display-none" id="mensajeComida"><small><b>Nota:</b>&nbsp;Este monto hace referencia al gasto total por concepto <i>COMIDA</i> de todo el viaje.</small></span>
                        </div>
                    </div>

                    @*para el boton file upload , colocar el json de los gastos y mensaje de validacion*@
                    <div class="row margin-bottom">
                        <div class="col-sm-12">
                            @Html.TextBoxFor(m => m.Soporte, new { type = "file" })
                            @Html.ValidationMessageFor(m => m.Soporte)
                        </div>
                    </div>
                    <div class="row margin-bottom">
                        @Html.HiddenFor(model => model.GastosJSON, new { @class = "form-control", id = "hdfGastosLegalizacion" })
                    </div>
                    <div class="row display-none" id="mensajeValidacionGastos">
                        <div class="col-sm-12">
                            <div class="alert alert-warning" role="alert">
                                <span id="mensajeGastos"></span>
                            </div>
                        </div>
                    </div>

                    @*para el boton guardar legalizacion de gastos*@
                    <div class="row margin-bottom">
                        <div class="box-tools pull-right" style="margin-right: 20px;">
                            <a id="btnA" class="btn btn-primary" onclick="GuardarGastos(this);" style="float:right;">
                                <span class="glyphicon glyphicon-plus"></span> Grabar Gasto
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        @*seccion de los gastos ya legalizados*@
        <div class="box box-default">
            <div class="box-header with-border">
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-md-12">
                        <table class="tableGastos">
                            <thead>
                                <tr>
                                    @*primero voy a colocar todos los campos que necesito para deserealizar los gastos*@
                                    <td class="display-none">PaisId</td>
                                    <td class="display-none">CiudadId</td>
                                    <td class="display-none">TipoServicioId</td>
                                    <td class="display-none">ProveedorId</td>
                                    <td class="display-none">Concepto</td>
                                    <td class="display-none">CentroOperacionId</td>
                                    <td class="display-none">UnidadNegocioId</td>
                                    <td class="display-none">CentroCostoId</td>
                                    <td>Fecha</td>
                                    <td class="display-none">Centro Operación</td>
                                    <td class="display-none">Unidad Negocio</td>
                                    <td class="display-none">Centro Costo</td>
                                    <td>Fecha Gasto</td>
                                    <td>Pais</td>
                                    <td>Ciudad</td>
                                    <td>Servicio</td>
                                    <td>Proveedor</td>
                                    <td>Concepto Gasto</td>
                                    <td>Impuesto</td>
                                    <td class="maskMoney">Valor</td>
                                    <td>Acciones</td>
                                </tr>
                            </thead>
                            <tbody id="Items"></tbody>
                        </table>
                    </div>
                </div>

                <div class="row" style="margin-top: 10px;">
                    <div class=" row" style="margin-right: 0px">
                        <div class="col-md-7"></div>
                        <div class="col-md-5">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <div class="row margin-bottom">
                                        <div class="col-md-7">
                                            <h4>Anticipo Entregado:</h4>
                                        </div>
                                        <div class="col-md-5">
                                            <h4>
                                                @Html.EditorFor(model => model.MontoAnticipoEntregado, new { htmlAttributes = new { @class = "txtLabel maskMoney", @id="txMontoAnticipo", @readonly="readonly" } })
                                            </h4>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-7">
                                            <h4>Gastos Reportados:</h4>
                                            <h4>Saldo:</h4>
                                        </div>
                                        <div class="col-md-5 text-right" style="padding-right:22px;">
                                            <h4>
                                                @Html.EditorFor(model => model.MontoGastosReportados, new { htmlAttributes = new { @class = "txtLabel maskMoney", @id = "txMontoFaltante", @readonly = "readonly", @style = "font-size:18px; padding-top:5px;" } })
                                            </h4>
                                            <h4>
                                                @Html.EditorFor(model => model.MontoSaldo, new { htmlAttributes = new { @class = "txtLabel maskMoney", @id = "txSaldo", @readonly = "readonly", @style = "font-size:18px; padding-top:5px;" } })
                                                <small class="help">
                                                    <p id="mensajeSaldo">

                                                    </p>
                                                </small>
                                            </h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row display-none" id="mensajeValidacionRegistro">
                    <div class="col-sm-12">
                        <div class="alert alert-warning" role="alert">
                            <span id="mensajeRegistro"></span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6"></div>
                    <div class="col-md-2">
                        <button type="button" class="btn btn-default" style="float:right;"><span class="glyphicon glyphicon-plus"></span>Cancelar</button>
                    </div>
                    <div class="col-md-2">
                        <button type="submit" class="btn btn-primary" onclick="return cargarGastos();">
                            <span class="glyphicon glyphicon-plus"></span> Guardar Reporte
                        </button>

                        @*<button type="submit" class="btn btn-primary" style="float:right;"><span class="glyphicon glyphicon-plus"></span>Guardar Reporte</button>*@
                    </div>
                    <div class="col-md-2">
                        <button type="button" class="btn btn-primary" onclick="EnviarReporte(this);" style="float:right;"><span class="glyphicon glyphicon-plus"></span>Enviar Reporte</button>
                    </div>
                </div>

            </div>
        </div>



    </section>
</form>

@*Aqui viene el formulario modal del listado de gastos*@
<!--modal form-->
<div class="row">
    <div class="col-md-9">
        <div class="modal fade bs-example-modal-sm" id="gastosModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="class=" row margin-bottom"">
                        <p>
                            <br />
                        </p>
                    </div>
                    <div class="box-header with-border">
                        <h3 class="box-title"><i class="fa fa-list-alt"></i>Seleccionar Gasto</h3>
                        <div class="box-tools pull-right">
                            <a id="btnAddNuevoGasto" data-dismiss="modal" class="btn btn-primary" onclick="AddNuevoGasto();">
                                <span class="glyphicon glyphicon-plus"></span> Añadir Nuevo Gasto
                            </a>

                        </div>
                    </div>

                    <div class="class=" row margin-bottom"">
                        <p>
                            <br />
                        </p>
                    </div>

                    <div class="modal-body">
                        <div class="form-horizontal">
                            @if (Model.SolicitudGastos != null)
                            {
                                    <div class="row ListadoGastos">
                                        <div class="col-md-12">
                                            <table class="col-md-12">
                                                <thead>
                                                    <tr>
                                                        <td>Fecha</td>
                                                        <td>Pais</td>
                                                        <td>Servicio</td>
                                                        <td>Ciudad</td>
                                                        <td>Origen</td>
                                                        <td>Destino</td>
                                                        <td>Valor</td>
                                                        <td>Acciones</td>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                @if (Model.SolicitudGastos.Count > 0)
                                                {
                                                    foreach (var item in Model.SolicitudGastos)
                                                    {

                                                            <tr>
                                                                @*<td class="col-md-2 ">@String.Format("{0:dd-MM-yyy}", item.FechaGasto)</td>*@
                                                                <td class="col-md-2 ">@item.FechaGasto</td>
                                                                <td class="col-md-1 ">@item.Pais</td>
                                                                <td class="col-md-1 ">@item.Servicio</td>
                                                                <td class="col-md-1 ">@item.Ciudad</td>
                                                                <td class="col-md-1 ">@item.Origen</td>
                                                                <td class="col-md-1 ">@item.Destino</td>
                                                                <td class="col-md-1 maskMoney"><small>@item.Monto</small></td>
                                                                <td class="col-md-1 ">
                                                                    @*<a id="btnAddNuevoGasto" data-dismiss="modal" class="btn btn-primary" onclick="Seleccionar(@item.Id,@String.Format("{0:ddMMyyy}", item.FechaGasto),@item.PaisId,@item.ServicioId,@item.CiudadId,@item.Origen.ToString().Replace("/",""),@item.Destino.ToString().Replace("/",""),@item.Monto);">*@
                                                                    <a id="btnAddNuevoGasto" data-dismiss="modal" class="btn btn-primary" onclick="Seleccionar(@item.Id);">
                                                                        <small>Seleccionar</small>
                                                                    </a>
                                                                </td>
                                                            </tr>

                                                    }
                                                }
                                                else {
                                                    <tr>
                                                        <td colspan="8">
                                                            Esta Solicitud de Anticipos no tiene gastos registrados...
                                                        </td>
                                                    </tr>
                                                }
                                             </tbody>
                                            </table>
                                        </div>
                                    </div>
                            }
                            else
                            {
                                <div class="row ListadoGastos">
                                    <div class="col-md-12">
                                        Añada un nuevo gasto a Legalizar...
                                    </div>
                                </div>
                            }

                            <div class="row display-none" id="mensajeValidacionGastos">
                                <div class="col-sm-12">
                                    <div class="alert alert-warning" role="alert">
                                        <span id="mensajeGastos"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

@*Formulario modal de envio de reporte*@
<div class="row">
    <div class="col-md-9">
        <div class="modal fade bs-example-modal-sm" id="EnviarReporteModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-md">
                <div class="modal-content">
                    <div class="class=" row margin-bottom"">
                        <p>
                            <br />
                        </p>
                    </div>
                    <div class="box-header with-border">
                        <h3 class="text-center ">Para Completar la Legalización debe</h3>
                        <h3 class="text-center">Registrar su informe de viaje</h3>
                    </div>



                    <div class="class=" row margin-bottom"">
                        <p>
                            <br />
                        </p>
                    </div>

                    <div class="modal-body">
                        <div class="form-horizontal">

                            <div class="row">

                                <div class="row margin-bottom ">
                                    <div class="col-md-12">
                                        <div class="col-md-12">
                                            @Html.LabelFor(model => model.ZonasVisitadas, htmlAttributes: new { @class = "text-left col-md-12" })
                                        </div>
                                        <div class="col-md-12">
                                            @Html.TextBoxFor(model => model.ZonasVisitadas, new { @class = "col-md-12 lbl100", @placeholder = "Ingrese", @required = "required" })
                                        </div>
                                    </div>
                                </div>


                                <div class="row margin-bottom">
                                    <div class="col-md-12">
                                        <div class="col-md-12">
                                            @Html.LabelFor(model => model.Objetivo, htmlAttributes: new { @class = "text-left col-md-12" })
                                        </div>
                                        <div class="col-md-12">
                                            @Html.TextBoxFor(model => model.Objetivo, new { @class = "col-md-12 lbl100", @placeholder = "Ingrese", @required = "required" })
                                        </div>
                                    </div>
                                </div>

                                <div class="row margin-bottom">
                                    <div class="col-md-12">
                                        <div class="col-md-12">
                                            @Html.LabelFor(model => model.ActividadesDesarrolladas, htmlAttributes: new { @class = "text-left col-md-12" })
                                        </div>
                                        <div class="col-md-12">
                                            @Html.TextAreaFor(model => model.ActividadesDesarrolladas, 4, 140, new { @placeholder = "Ingrese", @style = "width:100%;", @required = "required" })
                                        </div>
                                        <div class="col-md-1"></div>
                                    </div>
                                </div>

                                <div class="row margin-bottom">
                                    <div class="col-md-12">
                                        <div class="col-md-12">
                                            @Html.LabelFor(model => model.ResultadosObtenidos, htmlAttributes: new { @class = "text-left col-md-12" })
                                        </div>
                                        <div class="col-md-12">
                                            @Html.TextAreaFor(model => model.ResultadosObtenidos, 4, 140, new { @placeholder = "Ingrese", @style = "width:100%;", @required = "required" })
                                        </div>
                                    </div>
                                </div>

                                <div class="row margin-bottom">
                                    <div class="col-md-12">
                                        <div class="col-md-12">
                                            @Html.LabelFor(model => model.Compromisos, htmlAttributes: new { @class = "text-left col-md-12" })
                                        </div>
                                        <div class="col-md-12">
                                            @Html.TextAreaFor(model => model.Compromisos, 4, 140, new { @placeholder = "Ingrese", @style = "width:100%;", @required = "required" })
                                        </div>
                                    </div>
                                </div>

                                <div class="row margin-bottom col-md-12">
                                    <div class="box-tools pull-right">
                                        <a id="btnAddNuevoGasto" class="btn btn-primary" onclick="ImprimirReporte();">
                                            <span class="glyphicon glyphicon-plus"></span> EnviarReporte
                                        </a>
                                    </div>
                                </div>

                            </div>




                            <div class="row display-none" id="mensajeValidacionGastos">
                                <div class="col-sm-12">
                                    <div class="alert alert-warning" role="alert">
                                        <span id="mensajeGastos"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>



@section scripts {
    <script src="~/js/moment.min.js"></script>
    <script src="~/js/LegalizacionesScript.js"></script>
    <script src="~/lib/legalizaciones/lib/datatables.net/js/jquery.dataTables.js"></script>
    <script src="~/js/table.js"></script>
    <script src="~/js/tableToJSON.js"></script>

    <script>
            $(function () {
                $('#tableGastos').DataTable();

                function cargarGastos() {
                    var table = $('.tableGastos').tableToJSON({
                        ignoreColumns: [16]
                    });

                    if (table.length > 0) {
                        $("#mensajeRegistro").text("");
                        $('#mensajeValidacionRegistro').hide("slow");
                        $('#hdfGastosSolicitud').val(JSON.stringify(table));
                        return true;
                    } else {
                        $("#mensajeRegistro").text("Debe añadir al menos un Gasto.");
                        $('#mensajeValidacionRegistro').show("slow");
                        return false;
                    }

                }
            });

    </script>
}