@model Legalizaciones.Web.Models.ViewModel.LegalizacionesViewModel;
@{
    ViewData["Title"] = "Editar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-sm-12">
        <div class="box">
            <div class="hidden">
                @Html.TextBoxFor(model => model.ConAnticipo, new { @class = "form-control", @id = "txConAnticipo" })
            </div>
            <div class="box-body">
                @if (Model.ConAnticipo == 1)
                {
                    <small>
                        <a href='@Url.Action("Index","Home")'> Inicio </a>
                        >
                        <a href='@Url.Action("Index","Legalizaciones")'> Legalizaciones </a>
                        >
                        <strong>Editar legalización anticipo @Model.AnticipoId</strong>
                    </small>
                }
                else
                {
                    <small>
                        <a href='@Url.Action("Index","Home")'> Inicio </a>
                        >
                        <a href='@Url.Action("Index","Legalizaciones")'> Legalizaciones </a>
                        >
                        <strong>Editar Legalización sin anticipo</strong>
                    </small>
                }
            </div>
        </div>
    </div>
</div>

<form asp-controller="Legalizaciones" asp-action="Actualizar" method="post">
    <section class="">
        <div class="hidden">
            @Html.TextBoxFor(model => model.ConAnticipo, new { @class = "form-control", @id = "txConAnticipo" })
            @Html.TextBoxFor(model => model.DestinoID, new { @class = "form-control" })
            @Html.TextBoxFor(model => model.legalizacionId, new { @class = "form-control" })
            @Html.TextBoxFor(model => model.legalizacionEstadoId, new { @class = "form-control" })
            @Html.TextBoxFor(model => model.legalizacionFlujoSolicitudId, new { @class = "form-control" })
            @Html.TextBoxFor(model => model.legalizacionPasoFlujoSolicitudId, new { @class = "form-control" })
        </div>

        @if (Model.ConAnticipo == 1)
        {
            @*informacion de la solicitud anticipo*@
        <div class="box box-default">
            <div class="box-header with-border">
                <h3 class="box-title"><i class="fa fa-info-circle"></i>Información del anticipo</h3>
            </div>
            @Html.HiddenFor(model => model.AnticipoId, null)
            <div class="box-body">
                <table class="tableSolicitud">
                    <thead>
                        <tr>
                            <th class="col-md-1">
                                @Html.DisplayNameFor(modelItem => modelItem.AnticipoId)
                            </th>
                            <th class="col-md-2">
                                @Html.DisplayNameFor(modelItem => modelItem.DocumentoERPID)
                            </th>
                            <th class="col-md-2">
                                @Html.DisplayNameFor(modelItem => modelItem.FechaRegistro)
                            </th>
                            <th class="col-md-3">
                                @Html.DisplayNameFor(modelItem => modelItem.Concepto)
                            </th>
                            <th class="col-md-2">
                                @Html.DisplayNameFor(modelItem => modelItem.FechaVencimiento)
                            </th>
                            <th class="col-md-2">
                                @Html.DisplayNameFor(modelItem => modelItem.Monto)
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => modelItem.AnticipoId)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => modelItem.DocumentoERPID)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => modelItem.FechaRegistro)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => modelItem.Concepto)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => modelItem.FechaVencimiento)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => modelItem.Monto)
                            </td>

                        </tr>
                    </tbody>
                </table>


            </div>
        </div>

        }

        @*informacion del empleado*@
        <div class="box box-default">
            <div class="box-header with-border">
                <h3 class="box-title"><i class="fa fa-info-circle"></i>Información del empleado</h3>
            </div>
            <div class="box-body">
                <table class="tableEmpleado">
                    <thead>
                        <tr>
                            <th>Código Área</th>
                            <th>Nombres</th>
                            <th>Apellidos</th>
                            <th>Cédula</th>
                            <th>Dirección</th>
                            <th>Teléfono</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>@Html.HiddenFor(model => model.Empleado.CodigoArea, null) @Model.Empleado.CodigoArea</td>
                            <td>
                                @Html.HiddenFor(model => model.Empleado.PrimerNombre, null) @Model.Empleado.PrimerNombre
                                @Html.HiddenFor(model => model.Empleado.SegundoNombre, null) @Model.Empleado.SegundoNombre
                            </td>
                            <td>
                                @Html.HiddenFor(model => model.Empleado.PrimerApellido, null) @Model.Empleado.PrimerApellido
                                @Html.HiddenFor(model => model.Empleado.SegundoApellido, null) @Model.Empleado.SegundoApellido
                            </td>
                            <td>@Html.HiddenFor(model => model.Empleado.NumeroDeIdentificacion, null) @Model.Empleado.NumeroDeIdentificacion</td>
                            <td>@Html.HiddenFor(model => model.Empleado.Direccion, null) @Model.Empleado.Direccion</td>
                            <td>@Html.HiddenFor(model => model.Empleado.Telefono, null) @Model.Empleado.Telefono</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>



        @*Esta es la parte de legalizaciones*@
        <div class="box box-default">
            <div class="box-header with-border">
                <h3 class="box-title"><i class="fa fa-info-circle"></i>Formulario de legalización</h3>
                <div class="box-tools pull-right">
                    <label>Fecha de legalización: @String.Format("{0:dd/MM/yyy}", DateTime.Now)</label>
                </div>
            </div>
            @*formulario de legalizacion header*@
            <div class="box-body">

                <div class="row margin-bottom">
                    <div class="col-md-3">
                        @Html.LabelFor(model => model.ReciboCaja, htmlAttributes: new { @class = "control-label col-md-12" })
                        @Html.TextBoxFor(model => model.ReciboCaja, new { @class = "form-control", @required = "required" })
                        @Html.ValidationMessageFor(model => model.ReciboCaja, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-3">
                        @Html.LabelFor(model => model.Consignacion, htmlAttributes: new { @class = "control-label col-md-12" })
                        @Html.TextBoxFor(model => model.Consignacion, new { @class = "form-control", @required = "required" })
                        @Html.ValidationMessageFor(model => model.Consignacion, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-3">
                        @Html.LabelFor(model => model.Valor, htmlAttributes: new { @class = "control-label col-md-12" })
                        @Html.TextBoxFor(model => model.Valor, new { @class = "form-control", @required = "required" })
                        @Html.ValidationMessageFor(model => model.Valor, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-3">
                        @Html.LabelFor(model => model.BancoId, htmlAttributes: new { @class = "control-label col-md-12" })
                        @Html.DropDownListFor(model => model.BancoId, Model.ListaBanco, new { @class = "form-control" })
                        @if (ViewBag.IsValid != null && ViewBag.IsValid == "false")
                        {
                            @Html.ValidationMessageFor(model => model.BancoId, "Seleccione un Banco.", new { @class = "text-danger" })
                        }
                    </div>

                </div>

                <div class="row margin-bottom">

                    <div class="col-md-3">
                        @Html.HiddenFor(model => model.CentroCosto, new { @id = "hdfCentroCosto" })
                        @Html.LabelFor(model => model.CentroCosto, htmlAttributes: new { @class = "control-label col-md-12" })
                        @Html.TextBoxFor(model => model.CentroCostoDescripcion, new { @class = "form-control", @Readonly = "Readonly" })
                    </div>
                    <div class="col-md-3">
                        @Html.LabelFor(model => model.FechaDesde, htmlAttributes: new { @class = "control-label col-md-12" })
                        @Html.TextBoxFor(model => model.FechaDesde, Model.FechaDesde.ToString("yyyy-MM-dd"), new { @class = "form-control datepicker", @placeholder = "Selecciona Fecha Desde", @required = "required", @type = "date" })
                        @Html.ValidationMessageFor(model => model.FechaDesde, "", new { @class = "text-danger" })
                    </div>

                    <div class="col-md-3">
                        @Html.LabelFor(model => model.FechaHasta, htmlAttributes: new { @class = "control-label col-md-12" })
                        @Html.TextBoxFor(model => model.FechaHasta, Model.FechaHasta.ToString("yyyy-MM-dd"), new { @class = "form-control datepicker", @placeholder = "Selecciona Fecha Hasta", @required = "required", @type = "date" })
                        @Html.ValidationMessageFor(model => model.FechaHasta, "", new { @class = "text-danger" })
                    </div>
                    @if (Model.ConAnticipo == 0)//Sin Anticipo
                    {
                        <div class="col-md-3">
                            <label asp-for="DestinoID" id="lbl_destino">Destino</label>
                            @Html.HiddenFor(model => model.DestinoID, new { @class = "form-control", id = "hdfDestino" })
                            @Html.DropDownListFor(model => model.DestinoID, new SelectList(string.Empty, "Value", "Text"), "Seleccione...", new { @class = "form-control", id = "DestinoId" })
                            @Html.ValidationMessageFor(model => model.DestinoID, "", new { @class = "text-danger" })
                        </div>
                    }
                    <div class="col-md-3">
                        @if (Model.ConAnticipo == 0)//Sin Anticipo
                        {
                            <label class="control-label">Moneda</label>
                            @Html.DropDownListFor(model => model.MonedaId, Model.ListaMoneda, new { @class = "form-control" })
                            @if (ViewBag.IsValid != null && ViewBag.IsValid == "false")
                            {
                                @Html.ValidationMessageFor(model => model.MonedaId, "Seleccione un tipo de Moneda.", new { @class = "text-danger" })
                            }
                        }
                        else //Con Anticipo
                        {
                            @if (ViewBag.MostrarTasa = true)
                            {
                                <div class="col-md-6">
                                    <label class="control-label">Moneda</label>
                                    @Html.TextBoxFor(model => model.Moneda, new { @class = "form-control", @Readonly = "Readonly" })
                                </div>
                                <div class="col-md-6">
                                    <label class="control-label">Tasa</label>
                                    @Html.TextBoxFor(model => model.ValorTasa, new { @class = "form-control", @Readonly = "Readonly" })
                                </div>
                            }
                            else
                            {
                                <label class="control-label">Moneda</label>
                                @Html.TextBoxFor(model => model.MonedaId, new { @class = "form-control", @Readonly = "Readonly" })
                            }
                        }
                    </div>
                </div>
                <div class="row display-none" id="mensajeValidacionForm">
                    <div class="col-sm-12">
                        <div class="alert alert-warning" role="alert">
                            <span id="mensajeForm"></span>
                        </div>
                    </div>
                </div>

                <div class="row margin-bottom">
                    <div class="box-tools pull-right" style="margin-right: 20px;">
                        <a id="btnA" class="btn btn-primary" onclick="AnadirGastos(this);" style="float:right;">
                            <span class="glyphicon glyphicon-plus"></span> Añadir Gasto
                        </a>
                    </div>
                </div>

               


            </div>


            @*formulario de legalizacion de gastos*@
            <div class="hide" id="RegistroDatos">
                <div class="box-header with-border">
                    <h3 class="box-title"><i class="fa fa-money"></i>Registro de Gastos</h3>
                </div>
                @*<span class="field-required display-none">*</span>*@
                <div class="box-body">
                    <div class="row margin-bottom">
                        <div class="col-md-4">
                            <label class="control-label">Tipo Servicio</label>
                            @Html.DropDownListFor(model => model.TiposervicioId, new SelectList(string.Empty, "Value", "Text"), "Seleccione...", new { @class = "form-control" })
                            @if (ViewBag.IsValid != null && ViewBag.IsValid == "false")
                            {
                                @Html.ValidationMessageFor(model => model.TiposervicioId, "Seleccione un tipo de servicio.", new { @class = "text-danger" })
                            }
                        </div>
                        <div class="col-md-4">
                            @Html.LabelFor(model => model.ProveedorId, htmlAttributes: new { @class = "control-label col-md-12" })
                            @Html.DropDownListFor(model => model.ProveedorId, new SelectList(string.Empty, "Value", "Text"), "Seleccione...", new { @class = "form-control" })
                            @if (ViewBag.IsValid != null && ViewBag.IsValid == "false")
                            {
                                @Html.ValidationMessageFor(model => model.ProveedorId, "Seleccione un Proveedor.", new { @class = "text-danger" })
                            }
                        </div>

                        <div class="col-md-4">
                            <label class="control-label">Concepto Gasto</label>
                            @Html.EditorFor(model => model.ConceptoGasto, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.ConceptoGasto, "", new { @class = "text-danger" })
                        </div>


                    </div>

                    <div class="row margin-bottom">
                        <div class="col-md-4" id="divFechaGasto">
                            <label class="control-label">Fecha Gasto</label>
                            @Html.TextBoxFor(model => model.FechaGasto, Model.FechaGasto.ToString("yyyy-MM-dd"), new { @class = "form-control datepicker", @placeholder = "Selecciona Fecha Gasto", @type = "date", @autocomplete = "off" })
                            @Html.ValidationMessageFor(model => model.FechaGasto, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-4">
                            <label class="control-label">Centro Operación</label>
                            @Html.DropDownListFor(model => model.CentroOperacion, Model.ListaCentroOperacion, "Seleccione...", new { @class = "form-control" })
                            @if (ViewBag.IsValid != null && ViewBag.IsValid == "false")
                            {
                                @Html.ValidationMessageFor(model => model.CentroOperacion, "Seleccione un centro de operacion.", new { @class = "text-danger" })
                            }
                        </div>
                        <div class="col-md-4">
                            <label class="control-label">Unidad Negocio</label>
                            @Html.DropDownListFor(model => model.UnidadNegocio, Model.ListaUnidadNegocio, "Seleccione...", new { @class = "form-control" })
                            @if (ViewBag.IsValid != null && ViewBag.IsValid == "false")
                            {
                                @Html.ValidationMessageFor(model => model.UnidadNegocio, "Seleccione una unidad de negocio.", new { @class = "text-danger" })
                            }
                        </div>
                    </div>

                    <div class="row margin-bottom">
                        <div class="col-md-4">
                            <label class="control-label">Centro Costo</label>
                            @Html.DropDownListFor(model => model.CentroCosto, Model.ListaCentroCosto, "Seleccione...", new { @class = "form-control" })
                            @if (ViewBag.IsValid != null && ViewBag.IsValid == "false")
                            {
                                @Html.ValidationMessageFor(model => model.CentroCosto, "Seleccione un Centro de costo.", new { @class = "text-danger" })
                            }
                        </div>
                        <div class="col-md-4">
                            <label class="control-label">País</label>
                            @Html.DropDownListFor(model => model.PaisId, new SelectList(string.Empty, "Value", "Text"), "Seleccione...", new { @class = "form-control" })
                            @if (ViewBag.IsValid != null && ViewBag.IsValid == "false")
                            {
                                @Html.ValidationMessageFor(model => model.PaisId, "Seleccione un Pais.", new { @class = "text-danger" })
                            }
                        </div>
                        <div class="col-md-4">
                            <label class="control-label">Ciudad</label>
                            @Html.DropDownListFor(model => model.CiudadId, new SelectList(string.Empty, "Value", "Text"), "Seleccione...", new { @class = "form-control" })
                            @if (ViewBag.IsValid != null && ViewBag.IsValid == "false")
                            {
                                @Html.ValidationMessageFor(model => model.CiudadId, "Seleccione una Ciudad.", new { @class = "text-danger" })
                            }
                        </div>
                    </div>

                    <div class="row margin-bottom">
                        <div id="divOrigenDestino">
                            <div class="col-md-4">
                                <label class="control-label">Origen</label>
                                @Html.EditorFor(model => model.Origen, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Origen, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-4">
                                <label class="control-label">Destino</label>
                                @Html.EditorFor(model => model.Destino, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Destino, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label class="control-label">Monto Gasto</label>
                            @Html.EditorFor(model => model.MontoGasto, new { htmlAttributes = new { @class = "form-control maskMoney" } })
                            @Html.ValidationMessageFor(model => model.MontoGasto, "", new { @class = "text-danger" })
                            <span class="display-none" id="mensajeComida"><small><b>Nota:</b>&nbsp;Este monto hace referencia al gasto total por concepto <i>COMIDA</i> de todo el viaje.</small></span>
                        </div>
                    </div>

                    @*para el boton file upload , colocar el json de los gastos y mensaje de validacion*@
                    <div class="row margin-bottom display-none">
                        <div class="col-sm-12">
                            @Html.TextBoxFor(m => m.Soporte, new { type = "file" })
                            @Html.ValidationMessageFor(m => m.Soporte)
                        </div>
                    </div>
                    <div class="row margin-bottom">
                        @Html.HiddenFor(model => model.GastosJSON, new { @class = "form-control", id = "hdfGastosLegalizacion" })
                    </div>
                    <div class="row display-none" id="mensajeValidacionGastos">
                        <div class="col-sm-12">
                            <div class="alert alert-warning" role="alert">
                                <span id="mensajeGastos"></span>
                            </div>
                        </div>
                    </div>

                    <div class="row display-none" id="mensajeValidacionRegistro">
                        <div class="col-sm-12">
                            <div class="alert alert-warning" role="alert">
                                <span id="mensajeRegistro"></span>
                            </div>
                        </div>
                    </div>

                    @*para el boton guardar legalizacion de gastos*@
                    <div class="row margin-bottom">
                        <div class="box-tools pull-right" style="margin-right: 20px;">
                            <a id="btnA" class="btn btn-primary" onclick="GuardarGastos(this);" style="float:right;">
                                <span class="glyphicon glyphicon-plus"></span> Grabar Gasto
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        @*seccion de los gastos ya legalizados*@
        <div class="box box-default">
            <div class="box-header with-border">
                <h3 class="box-title"><i class="fa fa-money"></i>Legalización de gastos</h3>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-md-12">
                        <table class="tableGastos" id="tbGastos">
                            <thead>
                                <tr>
                                    @*primero voy a colocar todos los campos que necesito para deserealizar los gastos*@
                                    <td class="display-none">PaisId</td>
                                    <td class="display-none">CiudadId</td>
                                    <td class="display-none">TipoServicioId</td>
                                    <td class="display-none">ProveedorId</td>
                                    <td class="display-none">Concepto</td>
                                    <td class="display-none">CentroOperacionId</td>
                                    <td class="display-none">UnidadNegocioId</td>
                                    <td class="display-none">CentroCostoId</td>
                                    <td>Fecha</td>
                                    <td class="display-none">Centro Operación</td>
                                    <td class="display-none">Unidad Negocio</td>
                                    <td class="display-none">Centro Costo</td>
                                    <td>Fecha Gasto</td>
                                    <td>Pais</td>
                                    <td>Ciudad</td>
                                    <td>Servicio</td>
                                    <td>Proveedor</td>
                                    <td>Concepto Gasto</td>
                                    <td class="maskMoney">Valor</td>
                                    <td>Acciones</td>
                                </tr>
                            </thead>
                            <tbody id="Items">
                                @if (Model.LegalizacionGastos.Count > 0)
                                {
                                    int index = 0;
                                    @foreach (var item in Model.LegalizacionGastos)
                                    {
                                        index++;
                                        // string total = (item.Monto + Convert.ToDecimal(item.IVA)).ToString("N2");
                                <tr>
                                    <td class="display-none">@item.PaisId</td>
                                    <td class="display-none">@item.CiudadId</td>
                                    <td class="display-none">@item.TipoServicioId</td>
                                    <td class="display-none">@item.ProveedorId</td>
                                    <td class="display-none">@item.Concepto</td>
                                    <td class="display-none">@item.CentroOperacionId</td>
                                    <td class="display-none">@item.UnidadNegocioId</td>
                                    <td class="display-none">@item.CentroCostoId</td>
                                    <td>@String.Format("{0:dd/MM/yyy}", item.FechaCreacion)</td>
                                    <td class="display-none">@item.CentroOperacion</td>
                                    <td class="display-none">@item.UnidadNegocio</td>
                                    <td class="display-none">@item.CentroCosto</td>
                                    <td>@String.Format("{0:dd/MM/yyy}", item.FechaGasto)</td>
                                    <td>@item.Pais</td>
                                    <td>@item.Ciudad</td>
                                    <td>@item.Servicio</td>
                                    <td>@item.ProveedorId</td>
                                    <td>@item.Concepto</td>
                                    <td class="monto text-right"><input type="text" class="txtLabel maskMoney" readonly="readonly" value="@item.Valor" /></td>
                                    <td>
                                        <a class="btn btn-danger btn-sm btnDelete">
                                            <span class="glyphicon glyphicon-trash"></span>
                                        </a>
                                    </td>
                                </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="row" style="margin-top: 10px;">
                    <div class=" row" style="margin-right: 0px">
                        <div class="col-md-7"></div>
                        <div class="col-md-5">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <div class="row margin-bottom">
                                        <div class="col-md-7">
                                            <h4>Anticipo Entregado:</h4>
                                        </div>
                                        <div class="col-md-5">
                                            <h4>
                                                @Html.EditorFor(model => model.MontoAnticipoEntregado, new { htmlAttributes = new { @class = "txtLabel maskMoney", @id = "txMontoAnticipo", @readonly = "readonly" } })
                                            </h4>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-7">
                                            <h4>Gastos Reportados:</h4>
                                            <h4>Saldo:</h4>
                                        </div>
                                        <div class="col-md-5 text-right" style="padding-right:22px;">
                                            <h4>
                                                @Html.TextBoxFor(model => model.MontoGastosReportados, new { @class = "txtLabel maskMoney", @id = "txMontoFaltante", @readonly = "readonly", @style = "font-size:18px; padding-top:5px;" })
                                                @*@Html.EditorFor(model => model.MontoGastosReportados, new { htmlAttributes = new { @class = "txtLabel maskMoney", @id = "txMontoFaltante", @readonly = "readonly", @style = "font-size:18px; padding-top:5px;" } })*@
                                            </h4>
                                            <h4>
                                                @Html.EditorFor(model => model.MontoSaldo, new { htmlAttributes = new { @class = "txtLabel maskMoney", @id = "txSaldo", @readonly = "readonly", @style = "font-size:18px; padding-top:5px;" } })
                                                <small class="help">
                                                    <p id="mensajeSaldo">

                                                    </p>
                                                </small>
                                            </h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6"></div>
                    <div class="col-md-2">
                        <button type="button" class="btn btn-default" style="float:right;"><span class="glyphicon glyphicon-plus"></span>Cancelar</button>
                    </div>
                    <div class="col-md-2">
                        <button type="submit" class="btn btn-primary btnActualizar" onclick="return cargarGastos();">
                            <span class="glyphicon glyphicon-plus"></span> Guardar Cambios
                        </button>

                    </div>
                    <div class="col-md-2">
                        <button type="button" class="btn btn-primary" onclick="EnviarReporte(this);" style="float:right;"><span class="glyphicon glyphicon-plus"></span>Enviar</button>
                    </div>
                </div>

            </div>
        </div>

    </section>
</form>

@*Aqui viene el formulario modal del listado de gastos*@
<!--modal form-->
<div class="row">
    <div class="col-md-9">
        <div class="modal fade bs-example-modal-sm" id="gastosModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="class=" row margin-bottom"">
                        <p>
                            <br />
                        </p>
                    </div>
                    <div class="box-header with-border">
                        <h3 class="box-title"><i class="fa fa-list-alt"></i>Seleccionar Gasto</h3>
                        <div class="box-tools pull-right">
                            <a id="btnAddNuevoGasto" data-dismiss="modal" class="btn btn-primary" onclick="AddNuevoGasto();">
                                <span class="glyphicon glyphicon-plus"></span> Añadir Nuevo Gasto
                            </a>

                        </div>
                    </div>



                    <div class="class=" row margin-bottom"">
                        <p>
                            <br />
                        </p>
                    </div>

                    <div class="modal-body">
                        <div class="form-horizontal">
                            @if (Model.SolicitudGastos != null)
                            {
                                if (Model.SolicitudGastos.Count > 0)
                                {
                                    <div class="row ListadoGastos">
                                        <div class="col-md-12">
                                            <table class="col-md-12">
                                                <thead>
                                                    <tr>
                                                        <td>Fecha</td>
                                                        <td>Pais</td>
                                                        <td>servicio</td>
                                                        <td>Ciudad</td>
                                                        <td>Origen</td>
                                                        <td>Destino</td>
                                                        <td>Valor</td>
                                                        <td>Acciones</td>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @foreach (var item in Model.SolicitudGastos)
                                                    {

                                                        <tr>
                                                            @*<td class="col-md-2 ">@String.Format("{0:dd-MM-yyy}", item.FechaGasto)</td>*@
                                                            <td class="col-md-2 ">@item.FechaGasto</td>
                                                            <td class="col-md-1 ">@item.Pais</td>
                                                            <td class="col-md-1 ">@item.Servicio</td>
                                                            <td class="col-md-1 ">@item.Ciudad</td>
                                                            <td class="col-md-1 ">@item.Origen</td>
                                                            <td class="col-md-1 ">@item.Destino</td>
                                                            <td class="col-md-1 "><small>@item.Monto</small></td>
                                                            <td class="col-md-1 ">
                                                                <a id="btnAddNuevoGasto" data-dismiss="modal" class="btn btn-primary" onclick="Seleccionar(@item.Id);">
                                                                    <small>Seleccionar</small>
                                                                </a>
                                                            </td>
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                }

                            }
                            else
                            {
                                <div class="row ListadoGastos">
                                    <div class="col-md-12">
                                        Añada un nuevo gasto a Legalizar...
                                    </div>
                                </div>
                            }

                            <div class="row display-none" id="mensajeValidacionGastos">
                                <div class="col-sm-12">
                                    <div class="alert alert-warning" role="alert">
                                        <span id="mensajeGastos"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>




@section scripts {
    <script src="~/js/moment.min.js"></script>
    <script src="~/js/LegalizacionesScript.js"></script>
    <script src="~/lib/legalizaciones/lib/datatables.net/js/jquery.dataTables.js"></script>
    <script src="~/js/table.js"></script>
    <script src="~/js/tableToJSON.js"></script>

}



