@model List<InfoLegalizacion>
@{
    ViewData["Title"] = "Index"; }


<div class="row">
    <div class="col-sm-12">
        <div class="box">
            <div class="box-body">
                <small>
                    <a href='@Url.Action("Index","Home")'> Inicio </a>
                     <strong> Anticipos </strong>
                </small>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <div class="box">

            <div class="box-header with-border">
                <span class="fa fa-info-circle"></span>
                <h1 class="box-title">Mis  Solicitudes de Anticipo </h1>
            </div>

            <div class="col-md-12">
                <a class="btn btn-primary" style="float: right;" asp-area="" asp-controller="Legalizaciones" asp-action="Crear" asp-route-id="0">Legalizar sin Anticipo</a>
            </div>


            <div class="box-body">
                <table id="tblLegalizaciones" class="table table-bordered table-hover myDataTable">
                    <thead>
                        <tr>
                            <th> Id </th>
                            <th> Registro </th>
                            <th> Concepto </th>
                            <th> Beneficiario </th>
                            <th> Estado </th>
                            <th> Monto </th>
                            <th> Tasa</th>
                            <th> Id ERP </th>
                            <th> Nro ERP </th>
                            <th> Entrega </th>
                            <th> Dias Entrega</th>
                            <th> Acciones </th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null)
                        {
                            int ix = 0;

                            @foreach (var item in Model)
                            {

                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Id)
                                    </td>
                                    <td>

                                        @Html.DisplayFor(modelItem => item.FechaCreacion)
                                    </td>
                                    <td>

                                        @Html.DisplayFor(modelItem => item.Concepto)
                                    </td>
                                    <td>

                                        @Html.DisplayFor(modelItem => item.Beneficiario)
                                    </td>
                                    <td>

                                        @Html.DisplayFor(modelItem => item.Estado)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Monto)   @Html.DisplayFor(modelItem => item.Moneda)
                                    </td>
                                    <td>
                                        @if (item.Tasa == "1,00") { item.Tasa = "N/A"; }
                                        @Html.DisplayFor(modelItem => item.Tasa)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.IdDocErp)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ConsecutivoErp)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.FechaEntrega)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.DiasTrascurridos)
                                    </td>
                                    <td>
                                        @if (item.EstadoId == 1)//Sin Legalizar
                                        {
                                            <a class="btn btn-primary" asp-area="" asp-controller="Legalizaciones" asp-action="Crear" asp-route-id="@item.Id">Legalizar</a>
                                        }
                                        else if (item.EstadoId == 2 || item.EstadoId == 3)//Legalizada
                                        {
                                            <a class="item-btn" asp-controller="Legalizaciones" asp-action="Ver" asp-route-Id="@item.legalizacionId">
                                                <span class="fa fa-eye"></span>
                                            </a>
                                        }
                                        @*else if (item.EstadoId == 3)//Rechazada
                                    {
                                        <a class="item-btn" asp-controller="Legalizaciones" asp-action="Editar" asp-route-id="@item.Id">
                                            <span class="fa fa-pencil"></span>
                                        </a>
                                    }*@
                                        @*else if (item.Estado == "Legalizado")
                                    {
                                        <a class="item-btn" asp-controller="Legalizaciones" asp-action="Ver" asp-route-id="@item.Id">
                                            <span class="fa fa-eye"></span>
                                        </a>
                                    }
                                    else if (item.Estado == "Rechazado")
                                    {
                                        <a class="item-btn" asp-controller="Legalizaciones" asp-action="Editar" asp-route-id="@item.Id">
                                            <span class="fa fa-pencil"></span>
                                        </a>
                                    }
                                    else
                                    {
                                        <a class="btn btn-primary" asp-area="" asp-controller="Legalizaciones" asp-action="Aprobar" asp-route-id="@item.Id">Aprobar</a>
                                    }*@
                                    </td>
                                </tr>
                                ix++;
                            }

                        }
                        else
                        {
                            <tr class="tableEmpty">
                                <td colspan="8">
                                    No posee anticipos pendientes por Legalizar...
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
                <br />
                <div class="row">
                    <div style="float: left;" class="col-md-2">
                        <a class="btn btn-primary fa fa-file-excel-o" asp-area="" style="float:left;" asp-controller="ExportFilesFormat" asp-action="ExportDatosSolicitudExcel">Exportar solicitudes</a>
                    </div>
                </div>
            </div>


            <div class="modal fade bs-example-modal-sm" id="pdfModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-md">
                    <div class="modal-content">
                        <div class="box-header with-border">
                            <h3 class="box-title"><i class="fa fa-list-alt"></i>Carta - Vista Previa</h3>
                            <div class="box-tools pull-right">
                            </div>
                        </div>
                        <div class="modal-body">
                            <div class="form-horizontal">
                                <div class="row">
                                    <div class="col-md-12">
                                        <iframe id="iframePDF" src="" width="100%" height="600px"></iframe>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <a id="BtnClose" class="btn btn-danger" data-dismiss="modal">
                                <span class="glyphicon glyphicon-off"></span> Cerrar
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script src="~/js/select2.min.js"></script>
    <link href="~/css/select2.min.css" rel="stylesheet" />
    <script src="~/lib/legalizaciones/lib/datatables.net/js/jquery.dataTables.js"></script>
}



