@model Legalizaciones.Model.Legalizacion;
@{
    ViewData["Title"] = "Detalle";
}

<div class="row">
    <div class="col-sm-12">
        <div class="box">
            <div class="box-body">
                <small>
                    <a href='@Url.Action("Index","Home")'> Inicio </a>
                    >
                    <a href='@Url.Action("Index","Legalizaciones")'> Legalizaciones </a>
                    >
                    <strong>Registro legalización anticipo @Model.SolicitudID</strong>
                </small>
            </div>
        </div>
    </div>
</div>

<div class="box box-default">
    <div class="box-header with-border">
        <h3 class="box-title"><i class="glyphicon glyphicon-credit-card"></i><strong> Información del Anticipo</strong></h3>
    </div>
    <div class="box-body">
        <table width="100%">
            <tr class="HeaderTable">
                <td class="col-md-1">
                    <label>ID</label>
                </td>
                <td class="col-md-2">
                    <label>ID documentos en ERP</label>
                </td>
                <td class="col-md-2">
                    <label>Concecutivo ERP</label>
                </td>
                <td class="col-md-3">
                    <label>Concepto</label>
                </td>
            </tr>
            <tr class="RowsTable">
                <td>
                    @Model.Solicitud.Id
                </td>
                <td>
                    @Model.Solicitud.DocumentoERP
                </td>
                <td>
                    @Model.Solicitud.ConsecutivoERP
                </td>
                <td>
                    @Model.Solicitud.Concepto
                </td>
            </tr>
        </table>
    </div>
</div>


<div class="box box-default">
    <div class="box-header with-border">
        <h3 class="box-title"><i class="fa fa-info-circle"></i><strong>Información del empleado</strong></h3>
        <div class="box-tools pull-right">
        </div>
    </div>
    <div class="box-body">
        <table width="100%">
            <tr class="HeaderTable">
                <td class="col-md-3 sinBorder">
                    <label>Nombre y Apellido</label>
                </td>
                <td class="col-md-3 sinBorder">
                    <label>Cédula de Ciudadanía</label>
                </td>
                <td class="col-md-3 sinBorder">
                    <label>Area</label>
                </td>
                <td class="col-md-3 sinBorder">
                    <label>Cargo</label>
                </td>
            </tr>
            <tr class="RowsTable">
                <td>
                    @Model.Empleado.Nombre @Model.Empleado.Apellido
                </td>
                <td>
                    @Model.Solicitud.EmpleadoCedula
                </td>
                <td>
                    @Model.Empleado.Area
                </td>
                <td>
                    @Model.Empleado.Cargo
                </td>
            </tr>
        </table>
    </div>
</div>

<div class="box box-default">
    <div class="box-header with-border">
        <h3 class="box-title"><i class="fa fa-random"></i><strong>Detalles de legalizacion</strong></h3>
       
        <div class="box-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-6">
                            <label>Fecha de Registro:</label>&nbsp;<span>@Model.FechaCreacion.ToString("dd/MM/yyyy")</span>
                        </div>
                        <div class="col-md-6">
                            <label>Fecha de Vencimiento:</label>&nbsp;<span>@Model.Solicitud.FechaVencimiento.ToString("dd/MM/yyyy")</span>
                        </div>
                        <div class="col-md-6">
                            <label>Recibo Caja:</label>&nbsp;<span>@Model.ReciboCaja</span>
                        </div>
                        <div class="col-md-6">
                            <label>Consignación:</label>&nbsp;<span>@Model.Consignacion</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 text-right">
                    <div class="row Curva">
                        <div class="col-md-12">
                            <label>Total Anticipo:</label>&nbsp;<span><input type="text" class="txtLabel maskMoney" value="@Model.MontoAnticipoEntregado" readonly="readonly" /></span>
                        </div>
                        <div class="col-md-12">
                            <label>Total Legalización:</label>&nbsp;<span><input type="text" class="txtLabel maskMoney" value="@Model.MontoGastosReportados" readonly="readonly" /></span>
                        </div>
                        <div class="col-md-12">
                            <label>Saldo:</label>&nbsp;<span><input type="text" class="txtLabel maskMoney" value="@Model.MontoSaldo" readonly="readonly" /></span>
                        </div>
                    </div>
                </div>
            </div>

            <br /><br />

                  <div class="form-horizontal">
                      @if (Model.LegalizacionGastos != null)
                      {
                          if (Model.LegalizacionGastos.Count > 0)
                          {
                              <div class="row ListadoGastos">
                                  <div class="col-md-12">
                                      <table class="tableGastos" id="tbGastos">
                                          <thead>
                                              <tr>
                                                  @*primero voy a colocar todos los campos que necesito para deserealizar los gastos*@
                                                  <td>Fecha</td>
                                                  <td>Centro Oper.</td>
                                                  <td>Unidad Neg</td>
                                                  <td>Centro Cost</td>
                                                  <td>Fecha Gasto</td>
                                                  <td>Pais</td>
                                                  <td>Ciudad</td>
                                                  <td>Servicio</td>
                                                  <td>Proveedor</td>
                                                  <td>Concepto</td>
                                                  <td>Valor</td>
                                              </tr>
                                          </thead>

                                          @if (Model.LegalizacionGastos.Count > 0)
                                          {
                                              @foreach (var item in Model.LegalizacionGastos)
                                              {
                                                  // string total = (item.Monto + Convert.ToDecimal(item.IVA)).ToString("N2");
                                                  <tr>
                                                      <td class="col-md-1 ">@item.FechaCreacion.ToString("dd/MM/yyyy")</td>
                                                      <td class="col-md-2 ">@item.CentroOperacion</td>
                                                      <td class="col-md-2 ">@item.UnidadNegocio</td>
                                                      <td class="col-md-2 ">@item.CentroCosto</td>
                                                      <td class="col-md-2 ">@String.Format("{0:dd/MM/yyy}", item.FechaGasto)</td>
                                                      <td class="col-md-1 ">@item.Pais</td>
                                                      <td class="col-md-1 ">@item.Ciudad</td>
                                                      <td class="col-md-1 ">
                                                          @if (@item.TipoServicioId == 1)
                                                          {
                                                              <span>Comida</span>
                                                          }
                                                          else
                                                          {
                                                              <span>Transporte</span>
                                                          }
                                                      </td>
                                                      <td class="col-md-1 ">@item.ProveedorId</td>
                                                      <td class="col-md-1 ">@item.Concepto</td>
                                                      <td class="col-md-1 ">@item.Valor</td>
                                                    
                                                  </tr>
                                              }
                                          }
                                          <tbody id="Items"></tbody>


                                      </table>
                                  </div>
                              </div>
                          }

                      }
                      else
                      {
                          <div class="row ListadoGastos">
                              <div class="col-md-12">
                                  Añada un nuevo gasto a Legalizar...
                              </div>
                          </div>
                      }

                      <div class="row display-none" id="mensajeValidacionGastos">
                          <div class="col-sm-12">
                              <div class="alert alert-warning" role="alert">
                                  <span id="mensajeGastos"></span>
                              </div>
                          </div>
                      </div>
                  </div>

            <br /><br />

            <div class="row">
                <br /><br />
               
                <a class="btn btn-primary" asp-area="" style="float: right;" asp-route-id="@Model.Id"
                   asp-controller="ExportFilesFormat" asp-action="CreateLegalizacionesPDF">Exportar</a>
                <div style="float: right"> </div>

                <a class="btn btn-primary" asp-area="" style="float: right;"
                   asp-controller="Solicitud" asp-action="Index">Volver</a>
                <div style="float: right"> </div>

            </div>

        </div>
    </div>
</div>