@model Legalizaciones.Model.Legalizacion;
@{
    ViewData["Title"] = "Detalle";
    bool rechazado = false;
    string motivoRechazo = "";
}

<div class="row">
    <div class="col-sm-12">
        <div class="box">
            <div class="box-body">
                <small>
                    <a href='@Url.Action("Index","Home")'> Inicio </a>
                    >
                    <a href='@Url.Action("Index","Legalizaciones")'> Legalizaciones </a>
                    >
                    <strong>Detalle Legalizacion @Model.Id</strong>
                </small>
            </div>
        </div>
    </div>
</div>


<div class="box box-default">

    <div class="box-header with-border">
        <h3 class="box-title"><i class="fa fa-exclamation-triangle"></i> Estado de la Legalizacion: <i>@Model.ListaFlujo.Where(m => m.Procesado == 2).Select(m => m.Descripcion).FirstOrDefault()</i></h3>
        <div class="box-tools pull-right">
        </div>

        <div class="box-body">
            <div class="divFlujo">
                @if (Model.ListaFlujo.Count > 0)
                {
                    @foreach (var item in Model.ListaFlujo)
                    {
                        if (item.Procesado == 1) //Listo
                        {
                            <div class="col-sm-2 arrow_box">
                                <i class="fa fa-check-circle green" aria-hidden="true"></i>
                                <br />
                                <small>Listo</small>
                                <br />
                                <span>@item.Descripcion</span>
                            </div>
                        }
                        else if (item.Procesado == 2) //En Espera
                        {
                            <div class="col-sm-2 arrow_box">
                                <i class="fa fa-clock-o orange" aria-hidden="true"></i>
                                <br />
                                <small>En Espera</small>
                                <br />
                                <span>@item.Descripcion</span>
                            </div>
                        }
                        else if (item.Procesado == 3) //Rechazado
                        {
                            rechazado = true;
                            motivoRechazo = item.Motivo.Split("con Motivo:")[1];
                            <div class="col-sm-2 arrow_box">
                                <i class="fa fa-close red" aria-hidden="true"></i>
                                <br />
                                <small>Rechazada</small>
                                <br />
                                <span>@item.Descripcion</span>
                            </div>
                        }
                        else //No Iniciado
                        {
                            <div class="col-sm-2 arrow_box">
                                <i class="fa fa-clock-o gray" aria-hidden="true"></i>
                                <br />
                                <small>No Iniciado</small>
                                <br />
                                <span>@item.Descripcion</span>
                            </div>
                        }
                    }
                }
                else
                {
                    <h2>No se ha encontrado el flujo asignado a esta solicitud.</h2>
                }
            </div>

            @if (rechazado)
            {
                <div class="col-sm-12">
                    <span><b style="margin-bottom:5px;">Motivo del Rechazo:</b><br /></span>
                    <span style=" font-size:16px;">@motivoRechazo</span>
                </div>
            }
        </div>
    </div>
</div>

<div class="box box-default">
    <div class="box-header with-border">
        <h3 class="box-title"><i class="fa fa-info-circle"></i> Información del Anticipo</h3>
        <div class="box-tools pull-right">
        </div>
    </div>
    <div class="box-body">
        @if (Model.Solicitud != null)
        {
            <table width="100%">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>ID Documento ERP</th>
                        <th>Consecutivo ERP</th>
                        <th>Concepto</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            @Model.Solicitud.Id
                        </td>
                        <td>
                            @Model.Solicitud.DocumentoERP
                        </td>
                        <td>
                            @Model.Solicitud.ConsecutivoERP
                        </td>
                        <td>
                            @Model.Solicitud.Concepto
                        </td>
                    </tr>
                </tbody>
            </table>
        }
        else {
            <h5>Esta Legalización no poseé un Anticipo.</h5>
        }

    </div>
</div>

<div class="box box-default">
    <div class="box-header with-border">
        <h3 class="box-title"><i class="fa fa-info-circle"></i> Información del Empleado</h3>
        <div class="box-tools pull-right">
        </div>
    </div>
    <div class="box-body">
        <table class="tableEmpleado">
            <thead>
                <tr>
                    <th>Código Área</th>
                    <th>Nombres</th>
                    <th>Apellidos</th>
                    <th>Cédula</th>
                    <th>Dirección</th>
                    <th>Teléfono</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@Html.HiddenFor(model => model.Empleado.CodigoArea, null) @Model.Empleado.CodigoArea</td>
                    <td>
                        @Html.HiddenFor(model => model.Empleado.PrimerNombre, null) @Model.Empleado.PrimerNombre
                        @Html.HiddenFor(model => model.Empleado.SegundoNombre, null) @Model.Empleado.SegundoNombre
                    </td>
                    <td>
                        @Html.HiddenFor(model => model.Empleado.PrimerApellido, null) @Model.Empleado.PrimerApellido
                        @Html.HiddenFor(model => model.Empleado.SegundoApellido, null) @Model.Empleado.SegundoApellido
                    </td>
                    <td>@Html.HiddenFor(model => model.Empleado.NumeroDeIdentificacion, null) @Model.Empleado.NumeroDeIdentificacion</td>
                    <td>@Html.HiddenFor(model => model.Empleado.Direccion, null) @Model.Empleado.Direccion</td>
                    <td>@Html.HiddenFor(model => model.Empleado.Telefono, null) @Model.Empleado.Telefono</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="box box-default">
    <div class="box-header with-border">
        <h3 class="box-title"><i class="fa fa-random"></i><strong>Detalles de legalizacion</strong></h3>
       
        <div class="box-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-6">
                            <label>Fecha de Registro:</label>&nbsp;<span>@Model.FechaCreacion.ToString("dd/MM/yyyy")</span>
                        </div>
                        <div class="col-md-6">
                            <label>Fecha de Vencimiento:</label>&nbsp;
                            @if (Model.Solicitud != null) {
                            <span>@Model.Solicitud.FechaVencimiento.ToString("dd/MM/yyyy")</span> 
                            }
                            else {
                                <span>N/A</span>
                            }
                            


                        </div>


<div class="col-md-6">
                            <label>Recibo Caja:</label>&nbsp;<span>@Model.ReciboCaja</span>
                        </div>
                        <div class="col-md-6">
                            <label>Consignación:</label>&nbsp;<span>@Model.Consignacion</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 text-right">
                    <div class="row Curva">
                        <div class="col-md-12">
                            <label>Total Anticipo:</label>&nbsp;<span><input type="text" class="txtLabel maskMoney" value="@Model.MontoAnticipoEntregado" readonly="readonly" /></span>
                        </div>
                        <div class="col-md-12">
                            <label>Total Legalización:</label>&nbsp;<span><input type="text" class="txtLabel maskMoney" value="@Model.MontoGastosReportados" readonly="readonly" /></span>
                        </div>
                        <div class="col-md-12">
                            <label>Saldo:</label>&nbsp;<span><input type="text" class="txtLabel maskMoney" value="@Model.MontoSaldo" readonly="readonly" /></span>
                        </div>
                    </div>
                </div>
            </div>

            <br /><br />

                  <div class="form-horizontal">
                      @if (Model.LegalizacionGastos != null)
                      {
                          if (Model.LegalizacionGastos.Count > 0)
                          {
                              <div class="row ListadoGastos">
                                  <div class="col-md-12">
                                      <table class="tableGastos" id="tbGastos">
                                          <thead>
                                              <tr>
                                                  @*primero voy a colocar todos los campos que necesito para deserealizar los gastos*@
                                                  <td>Centro Operación</td>
                                                  <td>Unidad Negocio</td>
                                                  <td>Centro Costo</td>
                                                  <td>Fecha Gasto</td>
                                                  <td>Pais</td>
                                                  <td>Ciudad</td>
                                                  <td>Servicio</td>
                                                  <td>Concepto</td>
                                                  <td>Valor</td>
                                              </tr>
                                          </thead>

                                          @if (Model.LegalizacionGastos.Count > 0)
                                          {
                                              @foreach (var item in Model.LegalizacionGastos)
                                              {
                                                  // string total = (item.Monto + Convert.ToDecimal(item.IVA)).ToString("N2");
                                                  <tr>
                                                      <td class="col-md-2 ">@item.CentroOperacion</td>
                                                      <td class="col-md-2 ">@item.UnidadNegocio</td>
                                                      <td class="col-md-2 ">@item.CentroCosto</td>
                                                      <td class="col-md-2 ">@String.Format("{0:dd/MM/yyy}", item.FechaGasto)</td>
                                                      <td class="col-md-1 ">@item.Pais</td>
                                                      <td class="col-md-1 ">@item.Ciudad</td>
                                                      <td class="col-md-1 ">@item.Servicio</td>
                                                      <td class="col-md-1 ">@item.Concepto</td>
                                                      <td class="col-md-1 ">@item.Valor</td>
                                                    
                                                  </tr>
                                              }
                                          }
                                          <tbody id="Items"></tbody>


                                      </table>
                                  </div>
                              </div>
                          }

                      }
                      else
                      {
                          <div class="row ListadoGastos">
                              <div class="col-md-12">
                                  Añada un nuevo gasto a Legalizar...
                              </div>
                          </div>
                      }

                      <div class="row display-none" id="mensajeValidacionGastos">
                          <div class="col-sm-12">
                              <div class="alert alert-warning" role="alert">
                                  <span id="mensajeGastos"></span>
                              </div>
                          </div>
                      </div>
                  </div>

            <br /><br />

            <div class="row">
                <br /><br />
               
                <a class="btn btn-primary" asp-area="" style="float: right;" asp-route-id="@Model.Id"
                   asp-controller="ExportFilesFormat" asp-action="CreateLegalizacionesPDF">Exportar</a>
                <div style="float: right"> </div>

                <a class="btn btn-primary" asp-area="" style="float: right;"
                   asp-controller="Solicitud" asp-action="Index">Volver</a>
                <div style="float: right"> </div>

            </div>

        </div>
    </div>
</div>