@model Legalizaciones.Model.Solicitud
@{
    ViewData["Title"] = "Solicitud";
    decimal wMontoTotal = 0;
}

<div class="row">
    <div class="col-sm-12">
        <div class="box">
            <div class="box-body">
                <a href='@Url.Action("Index","Home")'> Inicio </a>
                >
                <a href='@Url.Action("Index","Solicitud")'> Anticipos </a>
                >
                <strong>Crear</strong>
            </div>
        </div>
    </div>
</div>

<form asp-controller="Solicitud" asp-action="Guardar" method="post" enctype="multipart/form-data">
    <section class="">
        <div class="box box-default">
            <div class="box-header with-border">
                <h3 class="box-title"><i class="fa fa-info-circle"></i> Información del empleado</h3>
                <div class="box-tools pull-right">
                    <label>Fecha de Registro: @String.Format("{0:dd-MM-yyy}", DateTime.Now)</label>
                </div>
            </div>

            <div class="box-body">

                <table class="tableSolicitud">
                    <thead>
                        <tr>
                            <th>Área</th>
                            <th>Nombre completo</th>
                            <th>Cédula</th>
                            <th>Dirección</th>
                            <th>Ciudad</th>
                            <th>Teléfono</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>@Html.HiddenFor(model => model.Empleado.Area, null) @Model.Empleado.Area</td>
                            <td>@Html.HiddenFor(model => model.Empleado.Nombre, null) @Model.Empleado.Nombre</td>
                            <td>@Html.HiddenFor(model => model.Empleado.Cedula, null) @Model.Empleado.Cedula</td>
                            <td>@Html.HiddenFor(model => model.Empleado.Direccion, null) @Model.Empleado.Direccion</td>
                            <td>@Html.HiddenFor(model => model.Empleado.Ciudad, null) @Model.Empleado.Ciudad</td>
                            <td>@Html.HiddenFor(model => model.Empleado.Telefono, null) @Model.Empleado.Telefono</td>
                        </tr>
                    </tbody>
                </table>
                @*Lista con los empleados del ERP
                        <div class="col-md-3">
                        <label class="control-label">Empleado</label>
                        @Html.DropDownListFor(model => model.Empleado.Cedula, new SelectList(string.Empty, "Value", "Text"), "Seleccione...", new { @class = "form-control", id = "Empleado" })
                    </div>*@

            </div>
        </div>

        <div class="box box-default">
            <div class="box-header with-border">
                <h3 class="box-title"><i class="fa fa-plane"></i> Información del viaje</h3>
                <div class="box-tools pull-right">
                </div>
            </div>

            <div class="box-body">
                <label asp-for="Concepto">Concepto del Anticipo*</label>
                <div class="row">
                    <div class="col-md-12">
                        @Html.TextAreaFor(model => model.Concepto, 4, 140, new { @placeholder = "Explique el concepto del Anticipo (Maximo 50 carácteres)", @style = "width:100%;", @required = "required" })
                        <span asp-validation-for="Concepto" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="box-body">

                <div class="row margin-bottom">
                    <div class="col-md-3">
                        <label asp-for="DestinoID" id="lbl_destino">Destino</label>
                        @Html.DropDownListFor(model => model.DestinoID, new SelectList(string.Empty, "Value", "Text"), "Seleccione...", new { @class = "form-control", id = "Destino" })
                        @Html.ValidationMessageFor(model => model.DestinoID, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-3">
                        <label asp-for="ZonaID" id="lbl_zona">Zona Visitada</label>
                        @Html.DropDownListFor(model => model.ZonaID, new SelectList(string.Empty, "Value", "Text"), "Seleccione...", new { @class = "form-control", id = "Zona" })
                        @Html.ValidationMessageFor(model => model.ZonaID, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-3">
                        <label asp-for="Moneda">Moneda</label>
                        @Html.DropDownListFor(model => model.MonedaId, new SelectList(string.Empty, "Value", "Text"), "Seleccione...", new { @class = "form-control", id = "Moneda" })
                        @if (ViewBag.IsValid != null && ViewBag.IsValid == "false")
                        {
                            @Html.ValidationMessageFor(model => model.Moneda, "Seleccione una Moneda.", new { @class = "text-danger" })
                        }
                    </div>
                    <div class="col-md-3">
                        <label asp-for="CentroOperacionId">Centro de Operación</label>
                        @Html.DropDownListFor(model => model.CentroOperacionId, new SelectList(string.Empty, "Value", "Text"), "Seleccione...", new { @class = "form-control", id = "CentroOperacion" })
                        @if (ViewBag.IsValid != null && ViewBag.IsValid == "false")
                        {
                            @Html.ValidationMessageFor(model => model.CentroOperacionId, "Seleccione un Centro de Operaciones.", new { @class = "text-danger" })
                        }
                    </div>

                </div>
                <div class="row margin-bottom">

                    <div class="col-md-3">
                        <label asp-for="UnidadNegocio">Unidad de Negocio</label>
                        @Html.DropDownListFor(model => model.UnidadNegocioId, new SelectList(string.Empty, "Value", "Text"), "Seleccione...", new { @class = "form-control", id = "UnidadNegocio" })
                        @if (ViewBag.IsValid != null && ViewBag.IsValid == "false")
                        {
                            @Html.ValidationMessageFor(model => model.UnidadNegocio, "Seleccione una Unidad de Negocio.", new { @class = "text-danger" })
                        }
                    </div>
                    <div class="col-md-3">
                        <label asp-for="CentroCosto">Centro de Costo</label>
                        @Html.DropDownListFor(model => model.CentroCostoId, new SelectList(string.Empty, "Value", "Text"), "Seleccione...", new { @class = "form-control", id = "CentroCosto" })
                        @if (ViewBag.IsValid != null && ViewBag.IsValid == "false")
                        {
                            @Html.ValidationMessageFor(model => model.CentroCosto, "Seleccione un Centro de Costo.", new { @class = "text-danger" })
                        }
                    </div>

                    <div class="col-md-3">
                        <label asp-for="FechaDesde">Fecha Desde</label>
                        @Html.TextBoxFor(model => model.FechaDesde, new { @class = "form-control datepicker", @placeholder = "Selecciona Fecha Desde" })
                        @Html.ValidationMessageFor(model => model.FechaDesde, "", new { @class = "text-danger" })
                    <div class="hidden">
                        <input type="text" name="AuxFechaDesde" id="AuxFechaDesde" value="" />
                        <input type="text" name="TxtCargoFecha" id="TxtCargoFecha" value="N" />
                    </div>
                    </div>

                    <div class="col-md-3">
                        <label asp-for="FechaHasta">Fecha Hasta</label>
                        @Html.TextBoxFor(model => model.FechaHasta, new { @class = "form-control datepicker ", @placeholder = "Selecciona Fecha Hasta" })
                        @Html.ValidationMessageFor(model => model.FechaHasta, "", new { @class = "text-danger" })
                        <div class="hidden">
                            <input type="text" name="AuxFechaHasta" id="AuxFechaHasta" value="" />
                        </div>
                    </div>
                </div>
                <div class="row margin-bottom">
                    <div class="col-sm-12">
                        <label asp-for="Carta">Carta Descuento</label>
                        @Html.TextBoxFor(model => model.Carta, new { type = "file" })
                        @Html.ValidationMessageFor(model => model.Carta)
                    </div>
                </div>
                <div class="row margin-bottom">
                    @Html.HiddenFor(model => model.GastosJSON, new { @class = "form-control", id = "hdfGastosSolicitud" })
                </div>
                <div class="row display-none" id="mensajeValidacionViaje">
                    <div class="col-sm-12">
                        <div class="alert alert-warning" role="alert">
                            <span id="mensajeViaje"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="box box-default">
            <div class="box-header with-border">
                <h3 class="box-title"><i class="fa fa-money"></i> Registro de Gastos</h3>
                <div class="box-tools pull-right">
                </div>
            </div>

            <div class="box-body">

                <div class="row">
                    <div class="col-md-12">
                        <a id="btnA" class="btn btn-primary" onclick="validarViaje(this);" style="float:right;">
                            <span class="glyphicon glyphicon-plus"></span> Añadir Gasto
                        </a>
                    </div>
                    <div class="col-md-12">
                        <table class="tableGastos">
                            <thead>
                                <tr>
                                    <td>Fecha Gasto</td>
                                    <td class="display-none">PaisID</td>
                                    <td>Pais</td>
                                    <td class="display-none">ServicioID</td>
                                    <td>Servicio</td>
                                    <td class="display-none">CiudadID</td>
                                    <td>Ciudad</td>
                                    <td>Origen</td>
                                    <td>Destino</td>
                                    <td>Monto</td>
                                    <td>Acciones</td>
                                </tr>
                            </thead>
                            <tbody id="Items"></tbody>
                        </table>
                    </div>
                </div>

                <div class="row" style="margin-top: 10px;">
                    <div class="col-md-8">

                    </div>
                    <div class="col-md-2">
                        <h3>Monto Total:</h3>
                    </div>
                    <div class="col-md-2">
                        @Html.HiddenFor(model => model.Monto, new { @class = "form-control", id = "hdfMontoSolicitud" })
                        <input type="text" name="txMontoT" id="txMontoT" value="@wMontoTotal" readonly style="height: 51px; width: 100px; font-size: 20px;text-align:center" />
                    </div>

                </div>
            </div>
        </div>

        <div class="row display-none" id="mensajeValidacionRegistro">
            <div class="col-sm-12">
                <div class="alert alert-warning" role="alert">
                    <span id="mensajeRegistro"></span>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-md-12 text-center">
                <button type="submit" class="btn btn-primary" onclick="return cargarGastos();">
                    <span class="glyphicon glyphicon-plus"></span> Registrar
                </button>
            </div>
        </div>

    </section>
</form>


<!--modal form-->
<div class="row">
    <div class="col-md-9">
        <div class="modal fade bs-example-modal-sm" id="gastosModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-md">
                <div class="modal-content">
                    <div class="box-header with-border">
                        <h3 class="box-title"><i class="fa fa-list-alt"></i>Gasto</h3>
                        <div class="box-tools pull-right">
                        </div>
                    </div>
                    @Html.Hidden("hdfRowIndex", new { @id = "hdfRowIndex" })
                    <form asp-controller="SolicitudGastos" asp-action="Asignar" method="post" id="frmAsignarGastos" enctype="multipart/form-data">
                        <div class="modal-body">
                            <div class="form-horizontal">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label class="control-label">Pais</label>
                                        @Html.DropDownList("Pais", new SelectList(string.Empty, "Value", "Text"), "Seleccione...", new { @class = "form-control", id = "Pais" })
                                    </div>
                                    <div class="col-md-6">
                                        <label class="control-label">Ciudad</label>
                                        @Html.DropDownList("Ciudad", new SelectList(string.Empty, "Value", "Text"), "Seleccione...", new { @class = "form-control", id = "Ciudad" })
                                    </div>
                                    @*<div class="col-md-4">
                                            <label class="control-label">Proveedor</label>
                                            @Html.DropDownList("Proveedor", new SelectList(string.Empty, "Value", "Text"), "Seleccione...", new { @class = "form-control", id = "Proveedor" })
                                        </div>*@

                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-md-6">
                                        <label class="control-label">Servicio</label>
                                        @Html.DropDownList("Servicio", new SelectList(string.Empty, "Value", "Text"), "Seleccione...", new { @class = "form-control", id = "Servicio" })
                                    </div>
                                    <div class="col-md-6" id="divGastosFecha">
                                        <label class="control-label">Fecha Gasto</label>
                                        @Html.Editor("FechaGasto", new { htmlAttributes = new { @class = "form-control datepicker FechaGasto", id = "FechaGasto", qplaceholder = "Selecciona Fecha del Gasto..." } })
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="display-none" id="divZonas">
                                        <div class="col-md-4">
                                            <label class="control-label">Origen</label>
                                            @Html.TextBox("ZonaOrigen", "", new { @class = "form-control zonaAutocomplete", @placeholder = "Indique Origen", id = "ZonaOrigen" })
                                            @Html.Hidden("hdfZonaOrigen", null, new { @id = "hdfZonaOrigen", @value = "" })
                                        </div>
                                        <div class="col-md-4">
                                            <label class="control-label">Destino</label>
                                            @Html.TextBox("ZonaDestino", "", new { @class = "form-control zonaAutocomplete", @placeholder = "Indique Destino", id = "ZonaDestino" })
                                            @Html.Hidden("hdfZonaDestino", null, new { @id = "hdfZonaDestino", @value = "" })
                                        </div>
                                    </div>
                                    <div class="col-md-4" style="float:right;">
                                        <label class="control-label">Monto</label>
                                        @Html.Editor("Monto", new { htmlAttributes = new { @class = "form-control", id = "Monto", @type = "number" } })
                                        <label style="color:silver;font-size:12px">ej: 1985,89</label>
                                        <div class="display-none" id="AvisoMontoServicio">
                                            <label class="" id="MensajeAviso"></label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row display-none" id="mensajeValidacionGastos">
                                    <div class="col-sm-12">
                                        <div class="alert alert-warning" role="alert">
                                            <span id="mensajeGastos"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <a id="btnUpd" class="btn btn-primary display-none" onclick="actualizarGastos();">
                                <span id="addX" class="glyphicon glyphicon-plus"></span>Actualizar
                            </a>
                            <a id="btnAdd" class="btn btn-primary" onclick="validarGastos();">
                                <span id="addX" class="glyphicon glyphicon-plus"></span>Agregar
                            </a>
                            <a id="BtnClose" class="btn btn-danger" data-dismiss="modal">
                                <span class="glyphicon glyphicon-off"></span>Cerrar
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>




@section scripts {
    <script src="~/js/jquery-ui-1.8.2.js"></script>
    <script src="~/js/select2.min.js"></script>
    <link href="~/css/select2.min.css" rel="stylesheet" />
    <script src="~/js/bootstrap-datepicker.js"></script>
    <link href="~/css/bootstrap-datepicker3.css" rel="stylesheet" />
    <script src="~/js/moment.min.js"></script>
    <script src="~/js/SolicitudScript.js"></script>
    <script src="~/lib/legalizaciones/lib/datatables.net/js/jquery.dataTables.js"></script>
    <script src="~/js/table.js"></script>
    <script src="~/js/tableToJSON.js"></script>

    <script>
    //COMA (,) COMO SEPARADOR DECIMAL...
    $("#Monto").on({
        "focus": function (event) {
            this.value = (isNaN(number)) ? '' :
        $(event.target).select();
    },
        "keyup": function (event) {
            debugger;
            $(event.target).val(function (index, value) {
            return value.replace(/\D/g, "")
                        .replace(/([0-9])([0-9]{2})$/, '$1,$2')
                        .replace(/\B(?=(\d{3})+(?!\d)\.?)/g, ",");
        });
    }
    });




        $(function () {
            $('#tableGastos').DataTable();

            $.widget("custom.catcomplete", $.ui.autocomplete, {
                _renderMenu: function (ul, items) {
                    var self = this,
                        currentCategory = "";
                    $.each(items, function (index, item) {
                        if (item.category != currentCategory) {
                            ul.append("<li class='ui-autocomplete-category'>" + item.category + "</li>");
                            currentCategory = item.category;
                        }
                        self._renderItem(ul, item);
                    });
                }
            });
        });

        function cargarGastos() {
            debugger;
            var table = $('.tableGastos').tableToJSON({
                ignoreColumns: [10]
            });

            if (table.length > 0) {
                $("#mensajeRegistro").text("");
                $('#mensajeValidacionRegistro').hide("slow");
                $('#hdfGastosSolicitud').val(JSON.stringify(table));
                return true;
            } else {
                $("#mensajeRegistro").text("Debe añadir al menos un Gasto.");
                $('#mensajeValidacionRegistro').show("slow");
                return false;
            }

        }

    </script>
}