@model Legalizaciones.Model.Jerarquia.OrigenDestino
@{
    ViewData["Title"] = "Editar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Editar Origen-Destino</h2>

<div class="row">
    <div class="col-sm-12">
        <div class="box">
            <div class="box-body">
                <small>
                    <a href='@Url.Action("Index","Home")'> Inicio </a>
                    >
                    <a href='@Url.Action("Index","Zona")'> Origen-Destino </a>
                    >
                    <strong>Editar</strong>
                </small>
            </div>
        </div>
    </div>
</div>

<form asp-controller="OrigenDestino" asp-action="Guardar" method="post" name="form1">
    <div class="hidden">
        <input class="hide" type="text" id="txProceso" name="txProceso" value="A" />
        <input class="hide" type="text" id="hdPaisId" name="hdPaisId" value="@Model.PaisId" />
        <input class="hide" type="text" id="Id" name="Id" value="@Model.Id" />
    </div>

    <section class="box">

        <div class="box-body">

            <div class="row">
                <div class="col-md-4">
                    <label asp-for="Nombre" class="control-label"></label>
                </div>

                <div class="col-md-4">
                    <label asp-for="Pais" class="control-label"></label>
                </div>

            </div>

            <div class="row">

                <div class="col-md-4">

                    <input asp-for="Nombre" type="text" class="form-control" placeholder="Nombre origen"/>
                    <span asp-validation-for="Nombre" class="text-danger"></span>

                </div>

                <div class="col-md-4">

                    @Html.DropDownListFor(model => model.PaisId, new SelectList(string.Empty, "Value", "Text"), "Seleccione...", new {@class = "form-control", id = "Pais"})
                    @Html.ValidationMessageFor(model => model.PaisId, "", new {@class = "text-danger"})

                </div>

            </div>

        </div>

    </section>

    <div class="modal-footer box">
        
        <button id="btnAdd type="submit" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span> Guardar
        </button>
        

            
        <a id="btnReset" class="btn btn-warning" asp-controller="OrigenDestino" asp-action="Editar" asp-route-id="@Model.Id">
            <span class="glyphicon glyphicon-ban-circle"></span> Cancelar
        </a>

        <a class="btn btn-primary" href='javascript:history.go(-1)' style="float: right;">
            <span class="fa fa-arrow-left"></span> Volver
        </a>
    </div>

</form>

@section scripts {
    <script src="~/js/select2.min.js"></script>
    <link href="~/css/select2.min.css" rel="stylesheet"/>
    <script src="~/js/OrigenDestinoScript.js"></script>
}





