@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Legalizaciones</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/Banner.css" />
    <link rel="stylesheet" href="~/css/Comun.css" />
    <link rel="stylesheet" href="~/lib/legalizaciones/dist/css/AdminLTE.css" />
    <link rel="stylesheet" href="~/lib/legalizaciones/lib/Ionicons/css/ionicons.css" />
    <link rel="stylesheet" href="~/js/Helpers/Loader/loader.css" />
    <link rel="stylesheet" href="~/lib/legalizaciones/lib/font-awesome/css/font-awesome.css" />
    <link rel="stylesheet" href="~/lib/legalizaciones/lib/select2/dist/css/select2.css">
    <link rel="stylesheet" href="~/lib/legalizaciones/lib/datatables.net-bs/css/dataTables.bootstrap.css">
    <link href="~/lib/legalizaciones/lib/datatables.net/css/jquery.dataTables.css" rel="stylesheet" />
    <link href="~/lib/jquery-ui/base/jquery.ui.autocomplete.css" rel="stylesheet" />
    <link href="~/css/toastr.min.css" rel="stylesheet" />
    @*Customize CSS*@
    <link href="~/css/site.css" rel="stylesheet" />
</head>
<body class="hold-transition skin-blue sidebar-mini">
    <div class="loading">Loading&#8230;</div>
    <div id="Banner">
        <div class="row" style="text-align:center">
            <img src="~/images/logo.png" />
        </div>
    </div>

    <header class="main-header">
        <nav class="navbar-header">

            <div class="menu-site-left">
                <ul class="nav navbar-nav">
                    <li class="btnMenu">
                        <a href='@Url.Action("Index","Solicitud")'>
                            <i class="fa fa-file-text"></i> <br />
                            <span>Anticipos</span>
                        </a>
                    </li>
<<<<<<< HEAD
                    <li class="btnMenu">
                        <a href='@Url.Action("RegistrarSTDC","Solicitud")'>
                            <i class="glyphicon glyphicon-credit-card"></i> <br />
                            <span>Anticipos con TDC</span>
                        </a>
                    </li>
=======
                    @*<li class="btnMenu">
                            <a href='@Url.Action("RegistrarSTDC","Solicitud")'>
                                <i class="glyphicon glyphicon-credit-card"></i> <br />
                                <span>Anticipos con TDC</span>
                            </a>
                        </li>*@
>>>>>>> aa3ef3831041b6f194e538654f91ec3037d16168
                    <li class="btnMenu">
                        <a href='@Url.Action("Index", "Legalizaciones")'>
                            <i class="fa fa-archive"></i> <br />
                            <span>Legalizaciones</span>
                        </a>
                    </li>
                    @*<li class="btnMenu">
                            <a href='@Url.Action("", "")'>
                                <i class="fa fa-briefcase"></i> <br />
                                <span>Servicios</span>
                            </a>
                        </li>*@
                    <li class="btnMenu">
                        <a href='@Url.Action("Index", "ConfiguracionGasto")'>
                            <i class="fa fa-gear"></i> <br />
                            <span>Conf. Gastos</span>
                        </a>
                    </li>
                    <li class="btnMenu">
                        <a href='@Url.Action("Index", "Zona")'>
                            <i class="fa fa-bus"></i> <br />
                            <span>Zonas</span>
                        </a>
                    </li>
                </ul>
            </div>

            <!-- Navbar Right Menu -->
            <div class="menu-site-right">
                <ul class="nav navbar-nav">
                    <!-- User Account Menu -->
                    <li class="dropdown user user-menu" style="right:10px;">
                        <!-- Menu Toggle Button -->
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-user-circle"></i>
                            <br />

                            <span>@HttpContextAccessor.HttpContext.Session.GetString("Usuario_Nombre")</span>
                            <span>@HttpContextAccessor.HttpContext.Session.GetString("Usuario_Area")</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href='@Url.Action("PreferenciasLegalizacion", "Empleado", new { cedula = HttpContextAccessor.HttpContext.Session.GetString("Usuario_Cedula") })'><span class="fa fa-gear"></span>Configuracion de Permisos</a></li>
                            <li class="divider"></li>
                            <li><a href="/auth/logout"><i class="icon-off"></i> Cerrar Session</a></li>
                        </ul>
                    </li>
                </ul>
        </nav>
    </header>

    <div class="container-fluid">
        <!-- Content Body-->
        <section class="body-content">
            <div class="container">
                @RenderBody()
            </div>
        </section>
        <!-- /.content -->
        <!-- Content Message-->
        <section class="message-content"></section>
    </div>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/js/jquery.maskMoney.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/lib/legalizaciones/dist/js/adminlte.js"></script>
    <script src="~/lib/legalizaciones/dist/js/demo.js"></script>
    <script src="~/js/toastr.min.js"></script>
    <script src="~/lib/legalizaciones/lib/datatables.net/js/jquery.dataTables.js"></script>
    <script>
        toastr.options = {
            "closeButton": true,
            "debug": false,
            "newestOnTop": false,
            "progressBar": false,
            "positionClass": "toast-bottom-right",
            "preventDuplicates": false,
            "onclick": null,
            "showDuration": "500",
            "hideDuration": "5000",
            "timeOut": "5000",
            "extendedTimeOut": "5000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        }

        @{
            var alerta = TempData["Alerta"];
        }
        @if(alerta != null)
        {
            @:ejecutarAlerta("@alerta.ToString().Split('-')[0].Trim()", "@alerta.ToString().Split('-')[1].Trim()");
        }


        function ejecutarAlerta(a, b) {
            toastr[a](b);
        }
        /* Ajax Life Cycle */
        $(document).ajaxStart(function () {
            $('.loading').show();
            console.log("Start AJAX Call")
        });
        $(document).ajaxStop(function () {
            $('.loading').hide();
            console.log("Finish AJAX Call")
        });

        $(document).ready(function () {

            if (!$('.myDataTable tbody tr.tableEmpty').length > 0) {
                $('.myDataTable').DataTable({
                    "processing": true,
                    language: {
                        "decimal": "",
                        "emptyTable": "No hay información",
                        "info": "Mostrando _START_ a _END_ de _TOTAL_ Entradas",
                        "infoEmpty": "Mostrando 0 to 0 of 0 Entradas",
                        "infoFiltered": "(Filtrado de _MAX_ total entradas)",
                        "infoPostFix": "",
                        "thousands": ",",
                        "lengthMenu": "Mostrar _MENU_ Entradas",
                        "loadingRecords": "Cargando...",
                        "processing": "Procesando...",
                        "search": "Buscar:",
                        "zeroRecords": "Sin resultados encontrados",
                        "paginate": {
                            "first": "Primero",
                            "last": "Ultimo",
                            "next": "Siguiente",
                            "previous": "Anterior"
                        }
                    },
                    pageLength: 10
                });
            }

            $('.loading').hide();
        });
    </script>

    @RenderSection("Scripts", required: false)

</body>
</html>

