
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Notificacion STF</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/bootstrap-theme.css">

    <style type="text/css">
        <!--
        .cabezera {
            font-family: Arial, Helvetica, sans-serif;
            color: #FFFFFF;
            font-size: 18px;
            background-color: black;
            border: black 0px solid;
        }

        .line {
            background-color: orange;
            border: black 0px solid;
            height: 10px;
        }

        .celda {
            background-color: white;
            border: white 0px solid;
        }
        -->
    </style>
</head>
<body>
        <div>
            <table class="table table-responsive table-striped">
                <tbody>
                    <tr>
                        <td colspan="2" class="cabezera"><div align="center">STUDIO F</div></td>
                    </tr>
                    <tr>
                        <td colspan="2"><div class="line"></div></td>
                    </tr>
                    <tr>
                        <td class="celda">&nbsp;&nbsp;&nbsp; Saludos estimado(a):  </td>
                        <td class="celda">&nbsp;&nbsp;&nbsp; @Model.NombreDestinatario</td>
                    </tr>
                    <tr>
                        <td class="celda">&nbsp;&nbsp;&nbsp; Hoy: @Model.Fecha</td>
                        <td class="celda">&nbsp;&nbsp;&nbsp;</td>
                    </tr>
                    <tr>
                        <td class="celda">&nbsp;&nbsp;&nbsp; Se le notifica que se ha creado un nuevo @Model.TipoDocumento, y este le ha sido asignado, a continuacion mostramos el detalle del documento </td>
                        <td class="celda">&nbsp;&nbsp;&nbsp; Nº: @Model.NumeroDocumento .</td>
                    </tr>
                    <tr>
                        <td class="celda">&nbsp;&nbsp;&nbsp; Empleado: @Model.NombreEmpleado  Cedula: @Model.CedulaEmpleado</td>
                        <td class="celda">&nbsp;&nbsp;&nbsp; Cargo: @Model.CargoEmpleado</td>
                    </tr>
                    <tr>
                        <td class="celda">&nbsp;&nbsp;&nbsp; Concepto: @Model.Concepto</td>
                        <td class="celda">&nbsp;&nbsp;&nbsp;</td>
                    </tr>
                    <tr>
                        <td class="celda">&nbsp;&nbsp;&nbsp;&nbsp; @Model.Destino </td>
                        <td class="celda">&nbsp;&nbsp;&nbsp;&nbsp;</td>
                    </tr>
                    <tr>
                        <td class="celda">&nbsp;&nbsp;&nbsp;&nbsp; @Model.Zona </td>
                        <td class="celda">&nbsp;&nbsp;&nbsp;&nbsp;</td>
                    </tr>
                    <tr>
                        <td class="celda">&nbsp;&nbsp;&nbsp;&nbsp; @Model.Moneda </td>
                        <td class="celda">&nbsp;&nbsp;&nbsp;&nbsp;</td>
                    </tr>
                    <tr>
                        <td class="celda">&nbsp;&nbsp;&nbsp;&nbsp; @Model.Monto</td>
                        <td class="celda">&nbsp;&nbsp;&nbsp;&nbsp;</td>
                    </tr>
                    <tr>
                        <td class="celda">&nbsp;&nbsp;&nbsp;&nbsp; @Model.DatosStf</td>
                        <td class="celda">&nbsp;&nbsp;&nbsp;&nbsp;</td>
                    </tr>
                    <tr>
                        <td colspan="2"><div class="line"></div></td>
                    </tr>
                    <tr>
                        <td colspan="2" class="cabezera"><div align="center"></div></td>
                    </tr>
                </tbody>
            </table>
        </div>
</body>
</html>
