
<style type="text/css">
    .addFlow {
        width: 25%;
        height: 25%;
        background-color: green;
        color: black;
        border: 0px;
    }

    .cancelFlow {
        width: 25%;
        height: 25%;
        background-color: red;
        color: black;
        border: 0px;
    }

    .addFlow:hover {
        background-color: silver;
    }

    .cancelFlow:hover {
        background-color: silver;
    }
</style>



@model Legalizaciones.Web.Models.AprobacionDocumento

@{
    ViewData["Title"] = "Flujo para Aprobacion de Documentos";
    var paso = ViewBag.Paso;
}
<div class="row">
    <div class="col-sm-12">
        <div class="box">
            <div class="box-body">
                <small>
                    <a href='@Url.Action("Index", "Home")'> Inicio </a>
                    <strong>  Aprobacion:  Anticipos - Legalizaciones </strong>
                </small>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header with-border">
                <div class="col-md-12">
                    <div class="col-md-12 pb-2">
                        <label class="control-label"> <strong> Tipo Solicitud </strong></label>
                        <select id="solicitud" name="solicitud" style="width:20%;height:auto; font-size:16px;" onchange="TipoSolicitudCambio();">
                            @{
                                int n = 0;
                                foreach (var type in Model.TipoSolicitud)
                                {
                                    <option value="@n"> @type </option>
                                    n++;
                                }
                            }

                        </select>
                    </div>
                    <div>
                        <form method="POST" id="formFlujo">
                            <input type="hidden" id="tipoSolicitud" name="tipoSolicitud" style="float:left;" />
                            <button type="submit" class="btn btn-primary" style="float:right;" id="verFlujo" name="verFlujo" onclick="VerFlujo();">Ver Flujo de Aprobacion</button>
                        </form>
                    </div>
                    @if (Model.Aprobadores != null)
                    {
                       <button type="button" class="btn btn-primary" style="float:right;" onclick="SetNuevoFlujo();">Nuevo Flujo de Aprobacion</button>
                    }

                </div>
            </div>
        </div>
    </div>


    <div class="box-body">
        @if (Model.TipoSeleccionado != "Seleccione..." && Model.TipoSeleccionado != string.Empty && Model.Aprobadores != null)
        {
            string tipoFlujo = "Flujo para aprobacion de " + Model.TipoSeleccionado;
            <label class="control-label"> <strong> @tipoFlujo </strong></label>
        }
        <table id="tblEmpleadoPermisos" class="table table-bordered table-hover">
            <thead>
                <tr>
                    @if (Model.Aprobadores != null)
                    {
                        <th> Orden de Aprobacion </th>
                        <th> Descripcion </th>
                        <th> Nombre Aprobador </th>
                        <th> E-Mail Aprobador</th>
                        <th> Actualizar </th>
                        <th> Eliminar </th>
                    }
                </tr>
            </thead> 
            <tbody>
                @if (Model.Aprobadores != null)
                {
                    @foreach (var item in Model.Aprobadores)

                    {
                <tr>
                    <td> @item.Orden</td>
                    <td> @item.Descripcion</td>
                    <td> @item.NombreAprobador</td>
                    <td> @item.EmailAprobador</td>
                    <td> <input type="button" class="btn btn-primary" onclick="GetDataAprobador('@item.Id','@item.Orden' ,'@item.Descripcion','@item.NombreAprobador','@item.EmailAprobador','@item.CedulaAprobador','actualizar');" value="Actualizar"> </td>
                    <td> <input type="button" class="btn btn-primary" onclick="GetDataAprobador('@item.Id','@item.Orden' ,'@item.Descripcion','@item.NombreAprobador','@item.EmailAprobador','@item.CedulaAprobador','eliminar');" value="Eliminar"> </td>
                </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="3">No existe flujo de aprobacion creado ...</td>
                    </tr>
                }
            </tbody>
        </table>

    </div>

    <!-- Trigger the modal with a button -->
    <!-- Modal -->
    <form id="newFlujo" method="GET">
        <div id="nuevoFlujoModal" class="modal fade" role="application">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" id="xx" name="xx" onclick="ClearAll();">&times;</button>
                        <label class="modal-title text-center" id="msjNuevoFlujo" name="msjNuevoFlujo"> </label>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-12 pb-2">
                                <label>Empleado</label>
                                <select id="Empleado" name="Empleado" onchange="AddAprobador();"> </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 pb-2">
                                <label>Descripcion</label>
                                <input type="text" id="descripcion" name="descripcion" />
                            </div>
                        </div>
                        <table id="tblFlujo" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    @if (Model.FlujoAprobacion != null)
                                    {
                                        <th> Orden de Aprobacion </th>
                                        <th> Descripcion </th>
                                        <th> Nombre Aprobador </th>
                                        <th> E-Mail Aprobador</th>
                                    }
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.FlujoAprobacion != null)
                                {
                                    @foreach (var iten in Model.FlujoAprobacion)

                                    {
                                        <tr>
                                            <td> @iten.Orden</td>
                                            <td> @iten.Descripcion</td>
                                            <td> @iten.NombreAprobador</td>
                                            <td> @iten.EmailAprobador</td>
                                        </tr>
                                    }
                                }

                            </tbody>
                        </table>
                        <div class="row">

                            <div class="modal-footer">
                                <input type="hidden" id="paso" name="paso" value="@ViewBag.Paso" />
                                <input type="hidden" id="tipoDocumento" name="tipoDocumento" />
                                <input type="hidden" id="addAprobador" name="addAprobador" />
                                <input type="hidden" id="addMail" name="addMail" />
                                <input type="submit" id="addFlujo" class="addFlow" value="Agregar" onclick="" />
                                <input type="submit" id="cancelFlujo" class="cancelFlow" value="Hecho" onclick="ClearAll();" />
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </form>
</div>


<div id="msjClienteModal" name ="msjClienteModal" class="modal fade" role="application">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <label class="modal-title text-center" id="msjClient" name="msjClient"> </label>
            </div>  
        </div>
    </div>
</div>

<form method="POST">
    <div id="dataModal" name="dataModal" class="modal fade" role="application">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <label class="modal-title text-center" id="msjDataUpdate" name="msjDataUpdate"> </label>
                </div>
                <div class="row">
                    <div class="col-md-12 pb-2">
                        <label>Nombre Aprobador</label>
                        <input type="text" id="nombre" name="nombre" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 pb-2">
                        <label>Cedula Aprobador</label>
                        <input type="text" id="cedula" name="cedula" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 pb-2">
                        <label>Email Aprobador</label>
                        <input type="text" id="email" name="email" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 pb-2">
                        <label>Descripcion</label>
                        <input type="text" id="descripcionT" name="descripcionT" />
                    </div>
                </div>
                <input type="hidden" id="id" name="id" />
                <input type="hidden" id="proceso" name="proceso" />

                <div class="row">
                    <div class="col-md-12 pb-2">
                        <input type="submit"  class="btn btn-primary" style="float:right;"  id="modificar" name="modificar" />
                        <input type="button"  class="btn btn-primary" style="float:right;"  id="cancelado" name="cancelado" value="Cancelar" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>



<!-- Modal -->
<div id="test" class="modal fade" role="dialog">

</div>

@section scripts {
    <script src="~/js/WorkflowScript.js"></script>
    <script src="~/js/select2.min.js"></script>
    <link href="~/css/select2.min.css" rel="stylesheet" />
    <script src="~/lib/legalizaciones/lib/datatables.net/js/jquery.dataTables.js"></script>
}

    <script>

    $(document).ready(function () {

        let pasoFlujo = '@paso';
        console.log(pasoFlujo);
        if (pasoFlujo > 0) {
            OpenNewFlujo();
        }
        let tipoDoc = '@ViewBag.TipoDocumento';
        if (tipoDoc != '') {
            $('#tipoDocumento').val('@ViewBag.TipoDocumento');
        }
         
      });

    function OpenNewFlujo() {
         $('#nuevoFlujoModal').modal('show');
    }

     function GetDataAprobador(id ,orden, descripcion  , nombre, email , cedula, proceso)
     {
        if (proceso == 'actualizar')
        {
          document.getElementById("msjDataUpdate").innerHTML = 'Desea actualizar los siguientes datos (Continuar/Cancelar)';
          $("#modificar").val('Actualizar');
        }
        else if (proceso == 'eliminar')
        {
           document.getElementById("msjDataUpdate").innerHTML =  'Desea eliminar los siguientes datos (Continuar/Cancelar)';
           $("#modificar").val('Eliminar');
        }

        $('#id').val(id);
        $('#orden').val(orden);
        $('#descripcionT').val(descripcion);
        $('#nombre').val(nombre);
        $('#email').val(email);
        $('#cedula').val(cedula);
        $('#proceso').val(proceso);
        $('#dataModal').modal('show');
     }
  
    </script>



