<style>
    .divCss{
        margin-left:6%;
        margin-right:6%;
        margin-top:6%;
        padding-left:30%;
    }
</style>

@model Legalizaciones.Web.Models.AprobacionDocumento

@{
    ViewData["Title"] = "Flujo para Aprobacion de Documentos";
    var paso = ViewBag.Paso;
}
<div class="row">
    <div class="col-sm-12">
        <div class="box">
            <div class="box-body">
                <small>
                    <a href='@Url.Action("Index", "Home")'> Inicio </a>
                    <strong>Aprobacion:  Anticipos - Legalizaciones </strong>
                </small>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header with-border">
                <div class="col-md-12">

                    <div class="col-md-12 pb-2">
                        <label class="control-label"> <strong> Tipo Solicitud </strong></label>
                        <select id="solicitud" name="solicitud" style="width:20%;height:auto; font-size:16px;">
                            @{
                                int n = 0;
                                foreach (var type in Model.TipoSolicitud)
                                {
                                    <option value="@n"> @type </option>
                                    n++;
                                }
                            }

                        </select>
                    </div>
                    <div>
                        <form method="POST" id="formFlujo">
                            <input type="hidden" id="indiceSolicitud" name="indiceSolicitud" />
                            <input type="hidden" id="tipoSolicitud" name="tipoSolicitud" />
                            <button type="submit" class="btn btn-primary" style="float:right;" id="verFlujo" name="verFlujo" onclick="VerFlujo();">Ver Flujo de Aprobacion</button>
                        </form>
                    </div>

                    @if (ViewBag.AprobadoresCount == 0)
                    {
                        <button type="button" class="btn btn-primary" style="float:right;" onclick="SetNuevoFlujo();">Nuevo Flujo de Aprobacion</button>
                    }
                </div>

            </div>
        </div>
    </div>
</div>


<div class="box-body">
    @if (Model.TipoSeleccionado != "Seleccione..." && Model.TipoSeleccionado != string.Empty && Model.Aprobadores != null)
    {
        string tipoFlujo = "Flujo para aprobacion de " + Model.TipoSeleccionado;
        <label class="control-label"> <strong> @tipoFlujo </strong></label>
    }
    <table id="tblEmpleadoPermisos" class="table table-bordered table-hover">
        <thead>
            <tr>
                @if (Model.Aprobadores != null)
                {
                    <th> Orden de Aprobacion </th>
                    <th> Descripcion </th>
                    <th> Nombre Aprobador </th>
                    <th> E-Mail Aprobador</th>
                    <th> Actualizar </th>
                    <th> Eliminar </th>
                }
            </tr>
        </thead>
        <tbody>
            @if (Model.Aprobadores != null)
            {
                @foreach (var item in Model.Aprobadores)

                {
                    <tr>
                        <td> @item.Orden</td>
                        <td> @item.Descripcion</td>
                        <td> @item.NombreAprobador</td>
                        <td> @item.EmailAprobador</td>
                        <td> <input type="button" class="btn btn-primary" onclick="GetDataAprobador('@item.Id','@item.Orden' ,'@item.Descripcion','@item.NombreAprobador','@item.EmailAprobador','@item.CedulaAprobador','@item.TipoSolicitud','actualizar');" value="Actualizar"> </td>
                        <td> <input type="button" class="btn btn-primary" onclick="GetDataAprobador2('@item.Id','@item.TipoSolicitud','eliminar');" value="Eliminar"> </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="3">No existe flujo de aprobacion creado ...</td>
                </tr>
            }
        </tbody>
    </table>

</div>

<!-- Trigger the modal with a button -->
<!-- MODAL NUEVO FLUJO -->
<form id="newFlujo" method="GET">
    <div id="nuevoFlujoModal" class="modal fade divCss" role="application">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" id="xx" name="xx" onclick="ClearAll();">&times;</button>
                    <label class="modal-title text-center" id="msjNuevoFlujo" name="msjNuevoFlujo"> </label>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12 pb-2">
                            <label>Empleado</label>
                            <select id="Empleado" name="Empleado" onchange="AddAprobador();"> </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 pb-2">
                            <label>Descripcion</label>
                            <input type="text" id="descripcion" name="descripcion" class="form-control" />
                        </div>
                    </div>

                    <table id="tblFlujo" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                @if (Model.FlujoAprobacion != null)
                                {
                                    <th> Orden de Aprobacion </th>
                                    <th> Descripcion </th>
                                    <th> Nombre Aprobador </th>
                                    <th> E-Mail Aprobador</th>
                                }
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.FlujoAprobacion != null)
                            {
                                @foreach (var iten in Model.FlujoAprobacion)

                                {
                                    <tr>
                                        <td> @iten.Orden</td>
                                        <td> @iten.Descripcion</td>
                                        <td> @iten.NombreAprobador</td>
                                        <td> @iten.EmailAprobador</td>
                                    </tr>
                                }
                            }

                        </tbody>
                    </table>
                    <div class="row">
                        <div class="modal-footer">
                            <input type="hidden" id="paso" name="paso" value="@ViewBag.Paso" />
                            <input type="hidden" id="tipoDocumento" name="tipoDocumento" />
                            <input type="hidden" id="addAprobador" name="addAprobador" />
                            <input type="hidden" id="addMail" name="addMail" />
                            <input type="submit" id="addFlujo" class="btn btn-primary" value="Agregar" onclick="" />
                            <input type ="button" id="cancelFlujo" class="btn btn-primary" value="Hecho" onclick="ClearAll();" />
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
</form>

<!--MODAL ACTUALIZACION DE FLUJO -->
<form method="POST" action='@Url.Action("UpdateFlujo", "WorkFlow")'>
    <div id="dataModal" name="dataModal" class="modal fade divCss" role="application">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <label class="modal-title text-center" id="msjDataUpdate" name="msjDataUpdate"> </label>
                </div>
                <div class="row">
                    <div class="col-md-12 pb-2">
                        <label id="empleo" name="empleo">Empleado</label>
                        <select id="Empleado2" name="Empleado2" style="display:block"> </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 pb-2">
                        <label>Nombre Aprobador</label>
                        <input type="text" id="nombre" name="nombre" class="form-control" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 pb-2">
                        <label>Cedula Aprobador</label>
                        <input type="text" id="cedula" name="cedula" class="form-control" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 pb-2">
                        <label>Email Aprobador</label>
                        <input type="text" id="email" name="email" class="form-control" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 pb-2">
                        <label>Descripcion</label>
                        <input type="text" id="descripcionT" name="descripcionT" class="form-control" />
                    </div>
                </div>
                <input type="hidden" id="id" name="id" />
                <input type="hidden" id="proceso" name="proceso" />
                <input type="hidden" id="type" name="type" />
                <input type="hidden" id="orden" name="orden" />
                <div class="row">
                    <div class="col-md-12 pb-2"> </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-12 pb-2">
                        <input type="submit" class="btn btn-primary" style="float:right;" id="modificar" name="modificar" />
                        <input type="button" class="btn btn-primary" style="float:right;" id="cancelado" name="cancelado" value="Cancelar" onclick="CloseDataModal();" />
                    </div>
                </div>
                <br />
            </div>
        </div>
    </div>
</form>

<!-- MODAL ELIMINAR PASO FLUJO-->
<form method="POST" action='@Url.Action("EliminarFlujo", "WorkFlow")'>
    <div id="dataModal2" name="dataModal2" class="modal fade divCss" role="application">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <label class="modal-title text-center" id="msjDataEliminar" name="msjDataEliminar"> </label>
                </div>

                <input type="hidden" id="ide" name="ide" />
                <input type="hidden" id="procesoe" name="procesoe" />
                <input type="hidden" id="typee" name="typee" />
                <div class="row">
                    <div class="col-md-12 pb-2"> </div>
                </div>

                <div class="row">
                    <div class="col-md-12 pb-2">
                        <input type="submit" class="btn btn-primary" style="float:right;" id="delete" name="delete" value="SI" />
                        <input type="button" class="btn btn-primary" style="float:right;" id="dont" name="dont" value="NO" onclick="CloseDataModal2();" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<!--MODAL PREGUNTA -->
<div id="preguntaModal" name="preguntaModal" class="modal fade" role="application">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <label class="modal-title text-center" id="msjPreguntaModal" name="msjPreguntaModal"> </label>
            </div>
            <div class="row">
                <div class="col-md-12 pb-2">
                    <input type="button" class="btn btn-primary" style="float:right;" id="si" name="si" value="SI" onclick="OpenDataModal();" />
                    <input type="button" class="btn btn-primary" style="float:right;" id="no" name="no" value="NO" onclick="CloseQuestionModal();" />
                </div>
            </div>
        </div>
    </div>
</div>

<!--MODAL MENSAJES  -->
<div id="msjClienteModal" name="msjClienteModal" class="modal fade" role="application">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <label class="modal-title text-center" id="msjClient" name="msjClient"> </label>
            </div>
            <div class="row">
                <div class="col-md-12 pb-2">
                    <input type="button" class="btn btn-primary" style="float:right;" id="cerrar" name="cerrar" value="Aceptar" onclick="CloseMensajeClienteModal();" />
                </div>
            </div>
        </div>
    </div>
</div>


@section scripts {
    <script src="~/js/WorkflowScript.js"></script>
    <script src="~/js/select2.min.js"></script>
    <link href="~/css/select2.min.css" rel="stylesheet" />
    <script src="~/lib/legalizaciones/lib/datatables.net/js/jquery.dataTables.js"></script>


    <script>

        $(document).ready(function ()
        {
         let IndexSollicitud = '@ViewBag.IndexSollicitud'
         if (IndexSollicitud != '') {
            $("#solicitud").val(IndexSollicitud);
            }

        let tipoDoc = '@ViewBag.TipoDocumento';
        if (tipoDoc != '') {
            $('#tipoDocumento').val('@ViewBag.TipoDocumento');
            }

        let pasoFlujo = '@paso';
        console.log(pasoFlujo);
        if (pasoFlujo > 0) {
            OpenNewFlujo();
            $("#solicitud").val(IndexSollicitud);
        }

        let countDocAsociado = '@ViewBag.CountDocAsociado'
        if (countDocAsociado > 0)
        {
            OpenMensajeClienteModal();
        }
        });

    </script>

}

