@model Legalizaciones.Web.Models.AprobacionDocumento

@{
    ViewData["Title"] = "Flujo para Aprobacion de Documentos";
}
<div class="row">
    <div class="col-sm-12">
        <div class="box">
            <div class="box-body">
                <small>
                    <a href='@Url.Action("Index","Home")'> Inicio </a>
                    <strong>  Aprobacion:  Anticipos - Legalizaciones </strong>
                </small>
            </div>
        </div>
    </div>
</div>

<form method="POST" id="formFlujo" >
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header with-border">
                    <div class="col-md-12">
                        <div class="col-md-12 pb-2">
                            <label class="control-label"> <strong> Tipo Solicitud </strong></label>
                            <select id="solicitud" name="solicitud" style="width:20%;height:auto; font-size:16px;" onchange="TipoSolicitudChange();">
                                @{
                                    int n = 0;
                                    foreach (var type in Model.TipoSolicitud)
                                    {
                                        <option value="@n"> @type </option>
                                        n++;
                                    }
                                }

                            </select>
                        </div>
                    </div>
                    <input type="hidden" id="tipoSolicitud" name="tipoSolicitud" />
                    <button type="submit" class="btn btn-primary" style="float:right;" id="nuevoFlujo" name ="nuevoFlujo">Nuevo Flujo de Aprobacion</button>
                    <button type="submit" class="btn btn-primary" style="float:right;" id="verFlujo" name ="verFlujo">Ver Flujo de Aprobacion</button>
                </div>
            </div>
        </div>
    </div>
</form>

<div class="box-body">
    <table id="tblEmpleadoPermisos" class="table table-bordered table-hover">
        <thead>
            <tr>
                @if (Model.Aprobadores != null)
                {
                    <th> Orden de Aprobacion </th>
                    <th> Nombre </th>
                    <th> E-Mail </th>
                }
            </tr>
        </thead>
        <tbody>
            @if (Model.Aprobadores != null)
            {
                @foreach (var item in Model.Aprobadores)

                {
                    <tr>
                        <td> @item.Orden</td>
                        <td> @item.NombreAprobador</td>
                        <td> @item.EmailAprobador</td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="3">No existe flujo de aprobacion creado ...</td>
                </tr>
            }
        </tbody>
    </table>
</div>
<script>

    function TipoSolicitudChange() {
        const obj = document.getElementById('solicitud');
        var tipo = obj.options[obj.selectedIndex].text;
        document.getElementById("tipoSolicitud").value = tipo;
    }

</script>

