
<style type="text/css">
    .addFlow {
        width: 25%;
        height: 25%;
        background-color: green;
    }

    .modalNF {
        width: 70%;
        height: 50%;
        background-color: gainsboro;
        display: none;
    }
</style>



@model Legalizaciones.Web.Models.AprobacionDocumento

@{
    ViewData["Title"] = "Flujo para Aprobacion de Documentos";
}
<div class="row">
    <div class="col-sm-12">
        <div class="box">
            <div class="box-body">
                <small>
                    <a href='@Url.Action("Index","Home")'> Inicio </a>
                    <strong>  Aprobacion:  Anticipos - Legalizaciones </strong>
                </small>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header with-border">
                <div class="col-md-12">
                    <div class="col-md-12 pb-2">
                        <label class="control-label"> <strong> Tipo Solicitud </strong></label>
                        <select id="solicitud" name="solicitud" style="width:20%;height:auto; font-size:16px;" onchange="TipoSolicitudCambio();">
                            @{
                                int n = 0;
                                foreach (var type in Model.TipoSolicitud)
                                {
                                    <option value="@n"> @type </option>
                                    n++;
                                }
                            }

                        </select>
                    </div>
                    <div>
                        <form method="POST" id="formFlujo">
                            <input type="hidden" id="tipoSolicitud" name="tipoSolicitud" style="float:left;" />
                            <button type="submit" class="btn btn-primary" style="float:right;" id="verFlujo" name="verFlujo">Ver Flujo de Aprobacion</button>
                        </form>
                    </div>
                    <button type="button" class="btn btn-primary" style="float:right;" data-toggle="modal" data-target="#nuevoFlujoModal" onclick="SetNuevoFlujo();">Nuevo Flujo de Aprobacion</button>

                </div>
            </div>
        </div>
    </div>


    <div class="box-body">
        @if (Model.TipoSeleccionado != "Seleccione..." && Model.TipoSeleccionado != string.Empty && Model.Aprobadores != null)
        {
            string tipoFlujo = "Flujo para aprobacion de " + Model.TipoSeleccionado;
            <label class="control-label"> <strong> @tipoFlujo </strong></label>
        }
        <table id="tblEmpleadoPermisos" class="table table-bordered table-hover">
            <thead>
                <tr>
                    @if (Model.Aprobadores != null)
                    {
                        <th> Orden de Aprobacion </th>
                        <th> Descripcion </th>
                        <th> Nombre Aprobador </th>
                        <th> E-Mail Aprobador</th>
                    }
                </tr>
            </thead>
            <tbody>
                @if (Model.Aprobadores != null)
                {
                    @foreach (var item in Model.Aprobadores)

                    {
                        <tr>
                            <td> @item.Orden</td>
                            <td> @item.Descripcion</td>
                            <td> @item.NombreAprobador</td>
                            <td> @item.EmailAprobador</td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="3">No existe flujo de aprobacion creado ...</td>
                    </tr>
                }
            </tbody>
        </table>

    </div>

    <!-- Trigger the modal with a button -->
    <!-- Modal -->
    <form id="newFlujo" method="GET">
        <div id="nuevoFlujoModal" class="modal fade" role="application">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <label class="modal-title text-center" id="msjNuevoFlujo" name="msjNuevoFlujo"> </label>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-12 pb-2">
                                <label>Empleado</label>
                                <select id="Empleado" name="Empleado" onchange="AddAprobador();"> </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 pb-2">
                                <label>Descripcion</label>
                                <input type="text" id="descripcion" name="descripcion" />
                            </div>
                        </div>
                        <table id="tblFlujo" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    @if (Model.FlujoAprobacion != null)
                                    {
                                        <th> Orden de Aprobacion </th>
                                        <th> Descripcion </th>
                                        <th> Nombre Aprobador </th>
                                        <th> E-Mail Aprobador</th>
                                    }
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.FlujoAprobacion != null)
                                {
                                    @foreach (var item in Model.Aprobadores)

                                    {
                                        <tr>
                                            <td> @item.Orden</td>
                                            <td> @item.Descripcion</td>
                                            <td> @item.NombreAprobador</td>
                                            <td> @item.EmailAprobador</td>
                                        </tr>
                                    }
                                }

                            </tbody>
                        </table>
                        <div class="row">

                            <div class="modal-footer">
                                <input type="hidden" id="tipoDocumento" name="tipoDocumento" style="float:left;" />
                                <input type="hidden" id="addAprobador" name="addAprobador" style="float:left;" />
                                <input type="submit" id="addFlujo" class="addFlow" onclick="" />
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </form>
</div>
       


<!-- Modal -->
<div id="test" class="modal fade" role="dialog">

</div>

@section scripts {
    <script src="~/js/PermisoSolicitudScript.js"></script>
    <script src="~/js/select2.min.js"></script>
    <link href="~/css/select2.min.css" rel="stylesheet" />
    <script src="~/lib/legalizaciones/lib/datatables.net/js/jquery.dataTables.js"></script>
}

<script>

    $(document).ready(function () {
        var arrayEmpleadoPermiso = [];
        $.ajax({
            type: "GET",
            url: "/UNOEE/Empleados?filtroCedula=true",
            datatype: "Json",
            beforeSend: function () {
                // console.log("Before Send Request");
            },
            success: function (data) {
                data.length > 0 ? $('#triggerModal').removeAttr('disabled') : $('#triggerModal').attr('disabled', 'disabled');
                $("#Empleado").empty();
                $('#Empleado').append('<option selected disabled value="-1">Seleccione...</option>');
                $.each(data, function (index, value) {
                    arrayEmpleadoPermiso.push(value);
                    $('#Empleado').append('<option value="' + value.cedula + '">' + value.nombre + '</option>');
                });
            },
            complete: function () {
                // console.log(arrayEmpleadoPermiso);
            }
        });

        //Propiedades del dropdown destinos
        $("#Empleado").select2({
            multiple: false,
            placeholder: 'Seleccione...'
        });
    });

    function TipoSolicitudCambio() {
        const obj = document.getElementById('solicitud');
        var tipo = obj.options[obj.selectedIndex].text;
        document.getElementById("tipoSolicitud").value = tipo;
        document.getElementById("tipoDocumento").value = tipo;
    }


    function SetNuevoFlujo() {
        const obj = document.getElementById('solicitud');
        var tipo = obj.options[obj.selectedIndex].text;
        if (tipo == 'Seleccione...') {
            document.getElementById("msjNuevoFlujo").innerHTML = 'Debe elejir tipo -> Solicitud Anticipo/Legalizacion';
        }
        else {
            document.getElementById("msjNuevoFlujo").innerHTML = 'Nuevo flujo de aprobacion para ' + tipo + ', el anterior flujo sera modificado';
        }

    }

    function AddAprobador() {
        const sel = document.getElementById('Empleado');
        var tip = sel.options[sel.selectedIndex].text;
        document.getElementById("addAprobador").value = tip;
    }


</script>

